# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# PyCharm
.idea

# SublimeText
*.sublime-workspace
*.sublime-project

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

### Django ###
django/*.log
django/*.pot
django/*.pyc
django/__pycache__/
local_settings.py
/images

# Media files
django/media/

# VS Code
.vscode/

# MyPy
.mypy_cache

# Virtual environments
.env
venv

# Configuration files
config/envs/dev_env
.devcontainer/
certificates/
docker-compose.yml
config/nginx/conf.d/cantusdb.conf
cron/cron.txt

# Drupal scripts from old Cantus
django/cantusdb_project/Drupal_scripts
# django/cantusdb_project/chant_list.txt
# django/cantusdb_project/feast_list.txt
# django/cantusdb_project/error_log.txt

# in case you're working on importing data from a database dump
*.sql

# cached files for APIs
api_cache/
