{% extends "base.html" %}
{% block content %}
<div class="mr-3 p-3 col-md-10 mx-auto bg-white rounded">
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>What's New</h3>
    {% for article in articles %}
    <div class="row">
        <div class="col">
            <small>{{ article.date_created|date:"D, m/d/Y - H:i" }}</small>
            <h4>
                <a href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
            </h4>
            <div class="container">
                {{ article.body|safe|truncatechars_html:3000 }}
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
</div>
{% endblock %}