{% extends "base.html" %}
{% block content %}
<div class="mr-3 p-3 col-md-9 bg-white rounded">
    <div class="row">
        <div class="col">
            <h3>
                {{article.title}}
            </h3>
            <div class="container">
                {% if article.image_link %}
                <img src="{{article.image_link|safe}}" class="img-fluid m-3 h-50 w-50">
                {% endif %}
                <div class="container text-wrap">
                    {{ article.body |safe }}
                    <small>Submitted by {{article.author_id}} on {{article.date_created|date:"D, m/d/Y - H:i"}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
