{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-md-9 bg-white rounded">
            <h2>{{flatpage.title}}</h2>
            {{ flatpage.content }}
        </div>
        <div class="col">
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        Jump to Source
                    </div>
                    <div class="card-body">
                        <select name="sources" id="source-select" class="w-75">
                            <option value="none">-Browse sources-</option>
                            {% source_links %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        What's New
                    </div>
                    <div class="card-body">
                        List of new articles here
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        Sample Sources
                    </div>
                    <div class="card-body">
                        Lots of sample sources here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
