{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<div class="container">
    <title>{{ flatpage.title }} | Cantus Manuscript Database</title>
    <div class="row">
        <div class="mr-3 p-3 col-md-9 bg-white rounded">
            <h2>{{flatpage.title}}</h2>
            {{ flatpage.content }}
        </div>
        <div class="col">
            <div class="row">
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        Jump to Source
                    </div>
                    <div class="card-body">
                        <select name="sources" id="source-select" class="w-75" onchange="jumpSource()">
                            <option value="none">-Browse sources-</option>
                            {% source_links %}
                        </select>
                    </div>

                    <script>
                        function jumpSource() {
                            sourceLink = document.getElementById("source-select").options[document.getElementById("source-select").selectedIndex].value;
                            fullLink = window.location.origin + '/' + sourceLink;
                            window.location.assign(fullLink);
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
