{% extends "base.html" %}
{% load helper_tags %} {# for source_links, recent_articles, get_user_source_pagination, get_user_created_source_pagination #}
{% block content %}
<div class="container">
    <title>{{ flatpage.title }} | Cantus Manuscript Database</title>
    <div class="row">
        <div class="p-3 col-lg-8 bg-white rounded main-content">
            <h2>{{ flatpage.title }}</h2>
            {{ flatpage.content }}
        </div>
        
        <div class="col p-0 sidebar">
            <div class="search-bar mb-3">
                {% include "global_search_bar.html" %}
            </div>

            <div class="card mt-3 w-100">
                <div class="card-header">
                    Jump to Source
                </div>
                <div class="card-body">
                    <select name="sources" id="source-select" class="w-75" onchange="jumpSource()">
                        <option value="none">-Browse sources-</option>
                        {% source_links %}
                    </select>
                </div>

                <script>
                    function jumpSource() { 
                        sourceLink = document.getElementById("source-select").options[document.getElementById("source-select").selectedIndex].value;
                        fullLink = window.location.origin + '/' + sourceLink;
                        window.location.assign(fullLink);
                    }
                </script>
            </div>

            {% if request.user|has_group:"contributor" or request.user|has_group:"editor" or request.user|has_group:"project manager" %}
                <div class="card mt-3 w-100">
                    <div class="card-header">
                        My Sources
                    </div>
                    {% get_user_source_pagination as user_sources_page_obj %}
                    <div class="card-body">
                        <small><a href="{% url "source-create" %}"><b>+ Add new source</b></a></small>
                        <ul>
                            {% for my_source in user_sources_page_obj %}
                                <li>
                                    <a href="{% url "source-detail" my_source.pk %}">
                                        <b> {{ my_source.siglum }}</b>
                                    </a>
                                    <br>
                                    <small>
                                        <a href="{% url "source-detail" my_source.pk %}">
                                            <b> {{ my_source.title }}</b>
                                        </a>
                                        <br>
                                        <a href="{% url "chant-create" my_source.pk %}" style="display: inline-block; margin-top:5px;">
                                            &plus; Add new chant
                                        </a>
                                        <br>
                                        {% if my_source.chant_set.all %}
                                            <a href="{% url "source-edit-chants" my_source.pk %}">
                                                &bull; Full text &amp; volpiano editor
                                            </a>
                                        {% endif %}
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="pagination">
                            <span class="step-links">
                                {% if user_sources_page_obj.has_previous %}
                                    <a href="?{% url_add_get_params page=1%}">&laquo;
                                        first</a>
                                    <a href="?{% url_add_get_params page=user_sources_page_obj.previous_page_number %}">previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ user_sources_page_obj.number }} of {{ user_sources_page_obj.paginator.num_pages }}
                                </span>

                                {% if user_sources_page_obj.has_next %}
                                    <a href="?{% url_add_get_params page=user_sources_page_obj.next_page_number %}">next</a>
                                    <a href="?{% url_add_get_params page=user_sources_page_obj.paginator.num_pages %}">last
                                        &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>    
                </div>
                <div class="mt-3"></div> {# for gap between "My sources" and "Sources created by user" cards #}
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        Sources created by user
                    </div>
                    {% get_user_created_source_pagination as user_created_sources_page_obj %}
                    <div class="card-body">
                        <small><a href="{% url "source-create" %}"><b>+ Add new source</b></a></small>
                        <ul>
                            {% for my_source in user_created_sources_page_obj %}
                                <li>
                                    <a href="{% url "source-detail" my_source.pk %}">
                                        <b> {{ my_source.siglum }}</b>
                                    </a>
                                    <br>
                                    <small>
                                        <a href="{% url "source-detail" my_source.pk %}">
                                            <b> {{ my_source.title }}</b>
                                        </a>
                                        <br>
                                        <a href="{% url "chant-create" my_source.pk %}" style="display: inline-block; margin-top:5px;">
                                            &plus; Add new chant
                                        </a>
                                        <br>
                                        {% if my_source.chant_set.all %}
                                            <a href="{% url "source-edit-chants" my_source.pk %}">
                                                &bull; Full text &amp; volpiano editor
                                            </a>
                                        {% endif %}
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="pagination">
                            <span class="step-links">
                                {% if user_created_sources_page_obj.has_previous %}
                                    <a href="?{% url_add_get_params page2=1%}">&laquo;
                                        first</a>
                                    <a href="?{% url_add_get_params page2=user_created_sources_page_obj.previous_page_number %}">previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ user_created_sources_page_obj.number }} of {{ user_created_sources_page_obj.paginator.num_pages }}
                                </span>

                                {% if user_created_sources_page_obj.has_next %}
                                    <a href="?{% url_add_get_params page2=user_created_sources_page_obj.next_page_number %}">next</a>
                                    <a href="?{% url_add_get_params page2=user_created_sources_page_obj.paginator.num_pages %}">last
                                        &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>    
                </div>  
            {% else %}
                <div class="card mt-3 w-100">
                    <div class="card-header">
                        What's New
                    </div>
                    <div class="card-body">
                        {% recent_articles %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
