body {
    background-image: url("../ccdb-images/canadian-chant-db-background.png");
    background-color: var(--bs-gray-100);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ccdb-salzinnes-img {
    border-radius: 20%;
    border: solid 3px #cc3333;
}

.ccdb-landing-grid {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.ccdb-grid-image {
    grid-row: 1/3;
}

.ccdb-grid-map {
    grid-row: 2/4;
}

.ccdb-button {
    background-color: #cc3333;
    border: none;

    &:hover {
        background-color: #992626;
        text-decoration: none;
    }
}

main a {
    color: #cc3333;

    &:hover {
        color: #992626;
    }
}

#collapsing-navbar {
    background-color: #cc3333eb;
    color: white;

    .nav-link {
        color: white !important;
    }
}

#sticky-navbar-toggle {
    color: white;
    background-color: #cc3333eb;
}

.ccdb-table-bg {
    background-color: var(--bs-gray-400)
}

form.ccdb-filter-form input,
form.ccdb-filter-form select {
    background-color: var(--bs-gray-100);
}

table.ccdb-table th,
table.ccdb-table td {
    background-color: var(--bs-gray-100);
}

table.ccdb-table a {
    color: #cc3333;

    &:hover {
        color: #992626;
    }
}