{% extends "base.html" %}
{% block title %}<title>403 Access Denied | Cantus Database</title>{% endblock %}
{% block content %}
    <div class="container error-page-container mt-5">
        <div class="row">
            <div class="p-3 col bg-white rounded">
                <h1>We're sorry</h1>
                <p>You are not authorized to access this page.</p>
                {% if not user.is_authenticated %}
                    <p>
                        This could be because you are not currently logged in. If you are a contributor and believe you should be able to see this page, try <a href="{% url 'login' %}?next={{ request.path }}">logging in</a>.
                    </p>
                {% endif %}
                <p>Error code: 403</p>
            </div>
        </div>
    </div>
{% endblock %}
