{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-md-8 bg-white rounded">
            <h3>403</h3>
            <h5>Access denied</h5>
            <br>
            <dl>
                <dd>You are not authorized to access this page.</dd>
                {% if not user.is_authenticated %}
                    <dd>This could be because you are not currently logged in. If you want, you can try <a href="{% url 'login' %}?next={{ request.path }}">logging in</a>.</dd>
                {% endif %}
            </dl> 
        </div>
    </div>
</div>
{% endblock %}