{% extends "base.html" %}
{% block title %}<title>404 Not Found | Cantus Database</title>{% endblock %}
{% block content %}
    <div class="container error-page-container mt-5">
        <div class="row">
            <div class="p-3 col bg-white rounded">
                <h1>We're sorry</h1>
                <p>We couldn't find a page at this address.</p>
                <p>Please check the entered url and try again.</p>
                <p>Error code: 404</p>
            </div>
        </div>
    </div>
{% endblock %}
