{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>Chants by Cantus ID: {{ cantus_id }} | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Chants by Cantus ID: {{ cantus_id }} </h3>
    <small>Displaying {{ page_obj.start_index }}-{{ page_obj.end_index }} of <b>{{ page_obj.paginator.count }}</b> chants</small>
    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap">Source</th>
                <th scope="col" class="text-wrap">Folio</th>
                <th scope="col" class="text-wrap">Title</th>
                <th scope="col" class="text-wrap">Office </th>
                <th scope="col" class="text-wrap">Genre </th>
                <th scope="col" class="text-wrap">Position</th>
                <th scope="col" class="text-wrap">Feast</th>
                <th scope="col" class="text-wrap">Mode</th>
                <th scope="col" class="text-wrap" style="font-family: volpiano; font-size:30px">1-</th>
                <th scope="col" class="text-wrap">Facsimile</th>
            </tr>
        </thead>
        <tbody>
            {% for chant in chants %}
                <tr>
                    <td class="text-wrap">
                        <a href="{{ chant.source.get_absolute_url }}">{{ chant.source.siglum }}</a>
                    </td>
                    <td class="text-wrap">{{ chant.folio }}</td>
                    {% comment %} this is used for distinguishing chants from sequences,
                    if the object is chant, use chant.get_absolute_url,
                    otherwise, use sequence.get_absolute_url
                    the combined queryset turned all objects into chants
                    so this is the only way to make the distinction {% endcomment %}
                    {% if chant.search_vector %}
                        <td class="text-wrap"><a href="{{ chant.get_absolute_url }}">{{ chant.incipit }}</a></td>
                    {% else %}
                        <td class="text-wrap"><a href="{% url 'sequence-detail' chant.id %}">{{ chant.incipit }}</a></td>
                    {% endif %}
                    <td class="text-wrap">{{ chant.office|default:"" }} </td>
                    <td class="text-wrap">{{ chant.genre.name|default:"" }} </td>
                    <td class="text-wrap">{{ chant.position|default:"" }}</td>
                    <td class="text-wrap"><a href="{{ chant.feast.get_absolute_url }}">{{ chant.feast.name|default:"" }}</a></td>
                    <td class="text-wrap">{{ chant.mode|default:"" }}</td>
                    <td class="text-wrap" style="font-family: volpiano; font-size:30px">{% if chant.volpiano %}<a href="{{ chant.get_absolute_url }}">1-</a>{% endif %}</td>
                    <td class="text-wrap">{% if chant.image_link %}<a href="{{ chant.image_link }}" target="_blank">Image</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" %}
</div>
{% endblock %}
