{% extends "base.html" %}
{% block content %}
<title>Create Chant | Cantus Manuscript Database</title>
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-md-8 bg-white rounded">
            <h3>Create Chant</h3>

            <!--Display "submit success" message -->
            {% if messages %}
            <div class="alert alert-success alert-dismissible">
                {% for message in messages %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <a href="{% url 'chant-detail' previous_chant.id %}" style="color:#155724" target="_blank">{{ message }}</a>
                {% endfor %}
            </div>
            {% endif %}

            <!--Display form error message -->
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for error in form.non_field_errors %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ field.label }}: {{ field.errors|striptags }}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" style="line-height: normal">{% csrf_token %}
                <div class="form-row">

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.marginalia.label_tag }}</small>
                        {{ form.marginalia }}
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.folio.label_tag }}<span class="text-danger" title="This field is required">*</span></small>
                        {{ form.folio }}
                        <p class=text-muted><small>{{ form.folio.help_text}}</small></p>
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.c_sequence.id_for_label }}"><small>Sequence:</small><span class="text-danger" title="This field is required">*</span></label>
                        {{ form.c_sequence }}
                        <p class=text-muted><small>{{ form.c_sequence.help_text}}</small></p>
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.office.id_for_label }}"><small>Office/Mass:</small></label>
                        {{ form.office }}
                        <a href="/field-descriptions/#Office"><small>?</small></a>
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.genre.label_tag }}</small>
                        {{ form.genre }}
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.position.label_tag }}</small>
                        {{ form.position }}
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.cantus_id.id_for_label }}"><small>Cantus ID:</small></label>
                        {{ form.cantus_id }}
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group m-1 col-lg-5">
                        <small>{{ form.feast.label_tag }}</small>
                        {{ form.feast }}
                    </div>
                    
                </div>

                <p>
                    <small>
                        {% if previous_chant %}
                            Feasts that follow:
                               {% for feast, count in suggested_feasts.items %}
                                    <a href="javascript:" onclick="autoFillFeast{{ feast.id }}();">{{ feast.name }}</a> ({{ count }}x) |
                                    <script>
                                        function autoFillFeast{{ feast.id }}() {
                                            document.getElementById('id_feast').value = "{{ feast.id }}";
                                        }
                                    </script>
                               {% endfor %}                                                                                                      
                            
                            <!-- eventually, perhaps: implement a "Reverse Changes" button -->
                        {% endif %}

                    </small>
                </p>

                <div class="form-row">

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.mode.label_tag }}</small>
                        {{ form.mode }}
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.finalis.label_tag }}</small>
                        {{ form.finalis }}
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.differentia.label_tag }}</small>
                        {{ form.differentia }}
                    </div>

                    <div class="form-group m-1 col-lg-3">
                        <label for="{{ form.differentia_new.id_for_label }}"><small>Differentia Database</small></label>
                        {{ form.differentia_new }}
                        <p>
                            <small class="text-muted">Diff. IDs: <a href="https://differentiaedatabase.ca/">differentiaedatabase.ca</a></small>
                        </p>
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <small>{{ form.extra.label_tag }}</small>
                        {{ form.extra }}
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.chant_range.id_for_label }}"><small>Range:</small></label>
                        {{ form.chant_range }}
                        <p class="text-muted"><small>{{ form.chant_range.help_text }}</small></p>
                    </div>

                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.melody_id.id_for_label }}"><small>Melody ID:</small></label>
                        {{ form.melody_id }}
                    </div>

                    <div class="form-group m-1 col-lg">
                        <small>{{ form.addendum.label_tag }}</small>
                        {{ form.addendum }}
                    </div>
                    
                </div>
            
                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg">
                        <label for="{{ form.manuscript_full_text_std_spelling.id_for_label }}"><small>Manuscript Reading
                                Full Text (standardized spelling):<span class="text-danger" title="This field is required">*</span></small></label>
                        {{ form.manuscript_full_text_std_spelling }}
                        <p>
                            <small class="text-muted">{{ form.manuscript_full_text_std_spelling.help_text }}
                                For more information, consult <a href="/field-descriptions/#Fulltext" target="_blank">Fields and Content Descriptions</a>.
                            </small>
                        </p>
                    </div>
                </div>

                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg">
                        <label for="{{ form.manuscript_full_text.id_for_label }}"><small>Manuscript Reading Full Text
                                (MS spelling): </small></label>
                        {{ form.manuscript_full_text }}
                        <p class="text-muted" style="line-height: normal">
                            <small>{{ form.manuscript_full_text.help_text }}
                                For more information, <a href="{% url 'contact' %}" target="_blank">contact Cantus Database staff</a>.
                            </small>
                        </p>
                    </div>
                </div>

                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg">
                        <small>{{ form.volpiano.label_tag }}</small>
                        {{ form.volpiano }}
                    </div>
                </div>

                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg-8">
                        <small>{{ form.image_link.label_tag }}</small>
                        {{ form.image_link }}
                    </div>
                </div>

                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg-8">
                        <small>{{ form.content_structure.label_tag }}</small> <!-- the Content Structure field is no longer there in OldCantus... -->
                        {{ form.content_structure }}
                        <p class="text-muted" style="line-height: normal">
                            <small>{{ form.content_structure.help_text }}</small>
                        </p>
                    </div>
                </div>

                <div class="form-row align-items-end">
                    <div class="form-group m-1 col-lg">
                        <small>{{ form.indexing_notes.label_tag }}</small>
                        {{ form.indexing_notes }}
                    </div>
                </div>

                <div class="form-group m-1 col-lg-2">
                    <button type="submit" class="btn btn-dark btn-sm" id="btn-submit"> Save
                    </button>
                </div>
            </form>
        </div>

        <div class="col p-0 sidebar">
            <div class="search-bar">
                {% include "global_search_bar.html" %}
            </div>

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h5><a id="source" href="{% url 'source-detail' source.id %}">{{ source.title }}</a></h5>
                </div>
                <div class="card-body" style="font-size: 15px">
                    <b>Suggestions based on the previous chant:</b><br>
                    {% if previous_chant %}
                        {{ previous_chant.folio }} {{ previous_chant.c_sequence}} <a href="{% url 'chant-detail' previous_chant.id %}" target="_blank">{{ previous_chant.incipit }}</a><br>
                        Cantus ID: <a href="https://cantusindex.org/id/{{ previous_chant.cantus_id }}" target="_blank">{{ previous_chant.cantus_id }}</a><br>
                            {% if suggested_chants %}
                                {% for chant in suggested_chants %}
                                    <input type="button" style="width: 80px" value="{{ chant.cid }}" onclick="autoFill{{ chant.cid }}()"></input>
                                    <strong>{{ chant.genre }}</strong> - {{ chant.fulltext|truncatechars:100 }} (<strong>{{ chant.count }}x</strong>)<br>
                                    <script>
                                        function autoFill{{ chant.cid }}() {
                                            document.getElementById('id_cantus_id').value = "{{ chant.cid }}";
                                            document.getElementById('id_genre').value = {{ chant.genre_id }};
                                            document.getElementById('id_manuscript_full_text_std_spelling').value = "{{ chant.fulltext }}";
                                        }
                                    </script>
                                {% endfor %}
                            {% else %}
                                Sorry! No suggestions found. Please use the search form below.<br>
                            {% endif %}
                    <br>
                    <p>The suggestions are based on the <strong>Cantus Database | MMMO | Slovakian Early Music Database</strong><br>
                    If your chant is not listed above, please use the search form below.</p>

                    {% else %}
                        Sorry! No suggestions found. Please use the search form below.
                    {% endif %}



                </div>
            </div>

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h5>Input Tool</h5>
                </div>

                <div class=" card-body" style="font-size: 15px">
                    Enter any text from chant:
                    <input type="text" id="incipitsearch" />
                    <button class="btn btn-danger btn-sm" onclick="openCiSearchWin()">Search ID</button>
                    <script>
                        function openCiSearchWin() {
                            search_term = document.getElementById("incipitsearch").value;
                            if (search_term.length < 3) {
                                search_term = window.prompt("Enter at least 3 characters of incipit", "");
                            }
                            address = "/ci-search/" + search_term;
                            var ci = window.open(address, "ci", "height=400px, width=1200px, top=0, left=50px, status=no, toolbar=no, location=no, scrollbars=yes, resizable=yes");
                        }
                    </script>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
