{% extends "base.html" %}
{% block content %}
<title>{{ chant.incipit }} | Cantus Manuscript Database</title>
<script src="/static/js/chant_detail.js"></script>

<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-8 bg-white rounded">
            <h3>{{ chant.incipit }}</h3>
            <dl>
                <div class="row">
                    {% if chant.source %}
                        <div class="col">
                            <dt>Source</dt>
                            <dd>
                                <a href="{{ chant.source.get_absolute_url }}">{{ chant.source.title }}</a>
                            </dd>
                        </div>
                    {% endif %}

                    {% if chant.marginalia %}
                        <div class="col">
                            <dt> Marginalia</dt>
                            <dd>{{ chant.marginalia }}</dd>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if chant.folio %}
                        <div class="col">
                            <dt>Folio</dt>
                            <dd>{{ chant.folio }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.sequence_number %}
                        <div class="col">
                            <dt>Sequence</dt>
                            <dd>{{ chant.sequence_number }}</dd>
                        </div>
                    {% endif %}
                </div>
                
                <div class="row">
                    {% if chant.feast %}
                        <div class="col">
                            <dt>Feast</dt>
                            <dd>
                                <a href="{{ chant.feast.get_absolute_url }}">{{ chant.feast.name }}</a>
                            </dd>
                        </div>
                    {% endif %}

                    {% if chant.office %}
                        <div class="col">
                            <dt>Office/Mass</dt>
                            <dd>{{ chant.office.name }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.genre %}
                        <div class="col">
                            <dt>Genre</dt>
                            <dd>{{ chant.genre.name }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.position %}
                        <div class="col">
                            <dt>Position</dt>
                            <dd>{{ chant.position }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.cantus_id %}
                        <div class="col">
                            <dt>Cantus ID</dt>
                            <dd>{{ chant.cantus_id }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.mode %}
                        <div class="col">
                            <dt>Mode</dt>
                            <dd>{{ chant.mode }}</dd>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if chant.finalis %}
                        <div class="col">
                            <dt>Finalis</dt>
                            <dd>{{ chant.finalis }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.differentia %}
                        <div class="col">
                            <dt>Differentia</dt>
                            <dd>{{ chant.differentia }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.chant_range %}
                        <div class="col">
                            <dt>Range</dt>
                            <dd>
                                <p style="font-family: volpiano; font-size:28px">{{ chant.chant_range }}</p>
                            </dd>
                        </div>
                    {% endif %}

                    {% if chant.addendum %}
                        <div class="col">
                            <dt>Addendum</dt>
                            <dd>{{ chant.addendum }}</dd>
                        </div>
                    {% endif %}

                    {% if chant.extra %}
                        <div class="col">
                            <dt>Extra</dt>
                            <dd>{{ chant.extra }}</dd>
                        </div>
                    {% endif %}
                </div>

                {% if chant.manuscript_full_text_std_spelling %}
                    <dt>Manuscript Reading Full Text (standardized spelling)</dt>
                    <dd>{{ chant.manuscript_full_text_std_spelling }}</dd>
                {% endif %}

                {% if chant.manuscript_full_text %}
                    <dt>Manuscript Reading Full Text (MS spelling)</dt>
                    <dd>{{ chant.manuscript_full_text }}</dd>
                {% endif %}

                {% if chant.volpiano %}
                    <dt>Volpiano</dt>
                    <dd>
                        <p style="font-family: volpiano; font-size:28px">{{ chant.volpiano }}</p>
                    </dd>
                {% endif %}

                {% if chant.indexing_notes %}
                    <dt>Indexing Notes</dt>
                    <dd>{{ chant.indexing_notes }}</dd>
                {% endif %}

                {% if chant.volpiano %}
                    <div class="row">
                        <div class="col">
                            <dt>Melody with text</dt>
                            {% if chant.manuscript_syllabized_full_text %}
                                <p><small>Syllabification is based on saved syllabized text.</small></p>
                            {% endif %}
                            <dd>
                                {% for zip in syllabized_text_with_melody %}
                                    {% for syl_mel, syl_text in zip %}
                                        <span style="float: left">
                                            <div style="font-family: volpiano; font-size: 28px">{{ syl_mel }}</div>
                                            <div style="font-size: 10px"><pre>{{ syl_text }}</pre></div>
                                        </span>
                                    {% endfor %}
                                {% endfor %}
                            </dd>
                        </div>
                    </div>
                {% endif %}

                {% if chant.image_link %}
                    <dt>Image link</dt>
                    <dd>
                        <a href="{{ chant.image_link }}" target="_blank" style="word-break: break-all">{{ chant.image_link }}</a>
                    </dd>
                {% endif %}
            </dl>

            {% if chant.cantus_id %}
                <h4>List of concordances</h4>
                <span id="concordanceLoadingPrompt" style="display: none; color: #922"><b>Loading concordances...</b></span>
                <a id="concordanceButton" href="#" onclick="loadConcordances('{{ chant.cantus_id }}'); return false;">» Display all concordances of this chant</a>   
                <div id="concordanceDiv"></div>
                <br>

                <h4>List of melodies</h4>
                <span id="melodyLoadingPrompt" style="display: none; color: #922"><b>Loading melodies...</b></span>
                <a id="melodyButton" href="#" onclick="loadMelodies('{{ chant.cantus_id }}'); return false;">» Display the melodies connected with this chant</a>
                <div id="melodyDiv"></div>        
            {% endif %}

            {% comment %} <br>
            <a href="" class="btn btn-primary" id="delete">Delete this Chant</a>
            <script>
                window.onload = function () {
                    document.getElementById("delete").href = window.location.href + '/delete';
                }
            </script> {% endcomment %}
        </div>

        <div class="col">
            <div class="row">
                <!-- global search bar-->
                {% include "global_search_bar.html" %}
            </div>

            {% with source=chant.source %}
                <div class="row">
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <b>Source navigation</b>
                            <br>
                            {% if source %}
                                <a href="{{ source.get_absolute_url }}"> <b>{{ source.siglum }}</b> </a>
                            {% else %}
                                This chant is not associated with any source. 
                            {% endif %}                            
                        </div>

                        {% if source %}
                        <div class="card-body">
                            <small>
                                <!--a small selector of all folios of this source-->
                                <select name="folios" id="folioSelect" class="w-30" onchange="jumpToFolio('{{ source.id }}')">
                                    <option value="">Select a folio</option>
                                    {% for folio in folios %}
                                        {% if folio == chant.folio %}
                                            <option selected value="{{ folio }}">{{ folio }}</option>
                                        {% else %}
                                            <option value="{{ folio }}">{{ folio }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                {% if previous_folio %}
                                    <a href="{% url "chant-list" %}?source={{ source.id }}&folio={{ previous_folio }}">{{ previous_folio }} <</a>
                                {% endif %}
                                {% if next_folio %}
                                    &nbsp;<a href="{% url "chant-list" %}?source={{ source.id }}&folio={{ next_folio }}">> {{ next_folio }}</a>
                                {% endif %}

                                {% if chant.image_link %}
                                    <br>
                                    <a href={{ chant.image_link }} target="_blank">» Display facsimile <b>({{ chant.folio }})</b></a>
                                    <br>
                                {% endif %}

                                {% if previous_folio %}
                                    <br>
                                    <div id="previousDiv" style="display:none">
                                        {% for feast, chants in feasts_previous_folio %}
                                            Folio: <b>{{ previous_folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                            <table class="table table-sm small table-bordered">     
                                                {% for chant in chants %}
                                                    <tr>
                                                        <td>{{ chant.sequence_number }}</td>
                                                        <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                        <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                        <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endfor %}
                                    </div>
                                    <a id="previousToggle" href="#" onclick="togglePrevious(); return false;">Display previous chants ▾</a>
                                {% endif %}
                                <br>

                                {% for feast, chants in feasts_current_folio %}
                                    Folio: <b>{{ chant.folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                    <table class="table table-sm small table-bordered">     
                                        {% for chant in chants %}
                                            <tr>
                                                <td>{{ chant.sequence_number }}</td>
                                                <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endfor %}

                                {% if next_folio %}
                                    <a id="nextToggle" href="#" onclick="toggleNext(); return false;">Display next chants ▾</a>
                                    <br>
                                    <div id="nextDiv" style="display:none">
                                        {% for feast, chants in feasts_next_folio %}
                                            Folio: <b>{{ next_folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                            <table class="table table-sm small table-bordered">     
                                                {% for chant in chants %}
                                                    <tr>
                                                        <td>{{ chant.sequence_number }}</td>
                                                        <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                        <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                        <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </small>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if source %}
                    <div class="row">
                        <div class="card mb-3 w-100">
                            <div class="card-header">
                                <small><a href="/sources?segment={{ source.segment.id }}">{{ source.segment.name }}</a></small>
                                <br>
                                {{ source.siglum }}
                            </div>
                            <div class=" card-body">
                                <small>
                                    {% if source.provenance.name %}
                                        Provenance: <b>{{ source.provenance.name }}</b>
                                        <br>
                                    {% endif %}

                                    {% if source.date %}
                                        Date: 
                                        {% for century in source.century.all %}
                                            <b>{{ century.name }}</b>
                                        {% endfor %}
                                        |
                                        <b>{{ source.date|default_if_none:"" }}</b>
                                        <br>
                                    {% endif %}

                                    {% if source.cursus %}
                                        Cursus: <b>{{ source.cursus|default_if_none:"" }}</b>
                                        <br>
                                    {% endif %}

                                    {% if source.notation.all %}
                                        Notation: <b>{{ source.notation.all.first.name }}</b>
                                        <br>
                                    {% endif %}

                                    {% if source.inventoried_by.all %}
                                        Inventoried by:
                                        <ul>
                                            {% for editor in source.inventoried_by.all %}
                                                <li>
                                                    <a href={{ editor.get_absolute_url }}><b>{{ editor.first_name }}
                                                        {{ editor.family_name }}</b></a><br>
                                                    {{ editor.institution|default_if_none:"" }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if source.proofreaders.all %}
                                        Proofreader{{ source.proofreaders.all|pluralize }}:
                                        <br>
                                        <ul>
                                            {% for editor in source.proofreaders.all %}
                                                <li>
                                                    <a href={{ editor.get_absolute_url }}><b>{{editor.first_name}}
                                                        {{editor.family_name}}</b></a><br>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {{ source.indexing_notes|default_if_none:"" }}
                                    <br>
                                    Contributor: <a href="#" onclick="return false;">CANTUS Database Administrator</a>
                                </small>
                            </div>
                        </div>

                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}