{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>Browse Chants | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Chants</h3>
    <small>Displaying {{page_obj.start_index}}-{{page_obj.end_index}} of <b>{{page_obj.paginator.count}}</b></small>
    <table class="table table-responsive table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap">Chant</th>
                <th scope="col" class="text-wrap">Source</th>
            </tr>
        </thead>
        <tbody>
            {% for chant in chants %}
            <tr>
                <td class="text-wrap">
                    <a href="{{ chant.get_absolute_url }}">{{chant.incipit}}</a>
                </td>
                <td class="text-wrap">{{ chant.source.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?{% url_add_get_params page=1%}">&laquo;
                first</a>
            <a href="?{% url_add_get_params page=page_obj.previous_page_number %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?{% url_add_get_params page=page_obj.next_page_number %}">next</a>
            <a href="?{% url_add_get_params page=page_obj.paginator.num_pages %}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
