{% extends "base.html" %}
{% block content %}
<title>Chants by Cantus ID: {{ cantus_id }} | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>
        Chants by Cantus ID: <a href="https://cantusindex.org/id/{{ cantus_id }}" target="_blank">
            {{ cantus_id }}
        </a>
    </h3>
    <small>Displaying {{ page_obj.start_index }}-{{ page_obj.end_index }} of <b>{{ page_obj.paginator.count }}</b> chants</small>
    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap" title="Source">Source</th>
                <th scope="col" class="text-wrap" title="Folio">Folio</th>
                <th scope="col" class="text-wrap" title="Title">Title</th>
                <th scope="col" class="text-wrap" title="Office">Office </th>
                <th scope="col" class="text-wrap" title="Genre">Genre </th>
                <th scope="col" class="text-wrap" title="Position">Position</th>
                <th scope="col" class="text-wrap" title="Feast">Feast</th>
                <th scope="col" class="text-wrap" title="Mode">Mode</th>
                <th scope="col" class="text-wrap" style="font-family: volpiano; font-size:30px; font-weight:normal;" title="Volpiano Melody">1</th>
                <th scope="col" class="text-wrap" title="Image Link">Facsimile</th>
            </tr>
        </thead>
        <tbody>
            {% for chant in chants %}
                <tr>
                    <td class="text-wrap">
                        {% if chant.source %}
                            <a href="{% url 'source-detail' chant.source.id %}" title="{{ chant.source.title }}">{{ chant.source.siglum }}</a>
                        {% endif %}
                    </td>
                    <td class="text-wrap">{{ chant.folio }}</td>
                    {% comment %} this is used for distinguishing chants from sequences,
                    if the object is chant, use chant-detail view,
                    otherwise, use sequence-detail view.
                    the combined queryset turned all objects into chants
                    so this is the only way to make the distinction {% endcomment %}
                    {% if chant.search_vector %}
                        <td class="text-wrap"><a href="{% url 'chant-detail' chant.id %}">{{ chant.incipit }}</a></td>
                    {% else %}
                        <td class="text-wrap"><a href="{% url 'sequence-detail' chant.id %}">{{ chant.incipit }}</a></td>
                    {% endif %}
                    <td class="text-wrap">
                        {% if chant.office %}
                            <a href="{% url 'office-detail' chant.office.id %}" title="{{ chant.office.description }}">
                                {{ chant.office.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-wrap">
                        {% if chant.genre %}
                            <a href="{% url 'genre-detail' chant.genre.id %}" title="{{ chant.genre.description }}">
                                {{ chant.genre.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-wrap">
                        {{ chant.position|default:"" }}
                    </td>
                    <td class="text-wrap">
                        {% if chant.feast %}
                            <a href="{% url 'feast-detail' chant.feast.id %}" title="{{ chant.feast.description }}">
                                {{ chant.feast.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-wrap">
                        {{ chant.mode|default:"" }}
                    </td>
                    <td class="text-wrap" style="font-family: volpiano; font-size:30px">
                        {% if chant.volpiano %}
                            <a href="{% url 'chant-detail' chant.id %}" style="text-decoration: none" title="Chant has volpiano melody">1</a>
                        {% endif %}
                    </td>
                    <td class="text-wrap">
                        {% if chant.image_link %}
                            <a href="{{ chant.image_link }}" target="_blank">Image</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" %}
</div>
{% endblock %}
