{% extends "base.html" %}
{% block content %}
<title>{{ chant.incipit }} | Cantus Manuscript Database</title>

<script>
    function togglePrevious(toggleID) {
        var x = document.getElementById("previous_div");
        var toggle = document.getElementById(toggleID);
        if (x.style.display === "none") {
            x.style.display = "block";
            toggle.innerHTML = "Hide previous chants ▴";
        } else {
            x.style.display = "none";
            toggle.innerHTML = "Display previous chants ▴";
        }
    }

    function toggleNext(toggleID) {
        var x = document.getElementById("next_div");
        var toggle = document.getElementById(toggleID);
        if (x.style.display === "none") {
            x.style.display = "block";
            toggle.innerHTML = "Hide next chants ▾";
        } else {
            x.style.display = "none";
            toggle.innerHTML = "Display next chants ▾";
        }
    }

    function setFolio() {
        var url = new URL("{% url 'chant-list' %}", window.location.origin);
        var folio = document.getElementById("folio-select").options[document.getElementById("folio-select").selectedIndex].value;
        url.searchParams.set("source", {{ chant.source.id }});
        url.searchParams.set("folio", folio);
        window.location.assign(url);
    }

</script>

<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-8 bg-white rounded">
            <h3>{{ chant.incipit }}</h3>
            <dl>
                <div class="row">
                    <div class="col">
                        <dt>
                            Source
                        </dt>
                        <dd>
                            <a href="{{ chant.source.get_absolute_url }}">
                                {{ chant.source.title }}
                            </a>
                        </dd>
                    </div>
                    {% if chant.marginalia %}
                    <div class="col">
                        <dt>
                            Marginalia
                        </dt>
                        <dd>
                            {{ chant.marginalia }}
                        </dd>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if chant.folio %}
                    <div class="col">
                        <dt>
                            Folio
                        </dt>
                        <dd>
                            {{ chant.folio }}
                        </dd>
                    </div>
                    {% endif %}
                    <div class="col">
                        {% comment %} {% if chant.sequence_number %} {% endcomment %}
                        <dt>
                            Sequence
                        </dt>
                        <dd>
                            {{ chant.sequence_number }}
                        </dd>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                </div>
                
                <div class="row">
                    {% if chant.feast %}
                    <div class="col">
                        <dt>
                            Feast
                        </dt>
                        <dd>
                            <a href="{{ chant.feast.get_absolute_url }}">{{ chant.feast.name }}</a>
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.office %}
                    <div class="col">
                        <dt>
                            Office/Mass
                        </dt>
                        <dd>
                            <a href="{{ chant.office.get_absolute_url }}">{{ chant.office.name }}</a>
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.genre %}
                    <div class="col">
                        <dt>
                            Genre
                        </dt>
                        <dd>
                            <a href="{{ chant.genre.get_absolute_url }}">{{ chant.genre.name }}</a>
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.position %}
                    <div class="col">
                        <dt>
                            Position
                        </dt>
                        <dd>
                            {{ chant.position }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.cantus_id %}
                    <div class="col">
                        <dt>
                            Cantus ID
                        </dt>
                        <dd>
                            {{ chant.cantus_id }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.mode %}
                    <div class="col">
                        <dt>
                            Mode
                        </dt>
                        <dd>
                            {{ chant.mode }}
                        </dd>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if chant.finalis %}
                    <div class="col">
                        <dt>
                            Finalis
                        </dt>
                        <dd>
                            {{ chant.finalis }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.differentia %}
                    <div class="col">
                        <dt>
                            Differentia
                        </dt>
                        <dd>
                            {{ chant.differentia }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.addendum %}
                    <div class="col">
                        <dt>
                            Addendum
                        </dt>
                        <dd>
                            {{ chant.addendum }}
                        </dd>
                    </div>
                    {% endif %}
                    {% if chant.extra %}
                    <div class="col">
                        <dt>
                            Extra
                        </dt>
                        <dd>
                            {{ chant.extra }}
                        </dd>
                    </div>
                    {% endif %}
                </div>

                {% if chant.manuscript_full_text_std_spelling %}
                <dt>
                    Manuscript Reading Full Text (standardized spelling)
                </dt>
                <dd>
                    {{ chant.manuscript_full_text_std_spelling }}
                </dd>
                {% endif %}
                {% if chant.manuscript_full_text %}
                <dt>
                    Manuscript Reading Full Text (MS spelling)
                </dt>
                <dd>
                    {{ chant.manuscript_full_text }}
                </dd>
                {% endif %}
                {% if chant.chant_range %}
                <dt>
                    Range
                </dt>
                <dd>
                    <p style="font-family: volpiano; font-size:30px">
                        {{ chant.chant_range }}
                    </p>
                </dd>
                {% endif %}
                {% if chant.volpiano %}
                <dt>
                    Volpiano
                </dt>
                <dd>
                    <p style="font-family: volpiano; font-size:30px">
                        {{ chant.volpiano }}
                    </p>
                </dd>
                {% endif %}
                {% if chant.indexing_notes %}
                <dt>
                    Indexing Notes
                </dt>
                <dd>
                    {{ chant.indexing_notes }}
                </dd>
                {% endif %}
                {% if chant.volpiano and chant.manuscript_full_text %}
                <div class="row">
                    <div class="col">
                        <dt>
                            Melody with text
                        </dt>
                        {% if chant.manuscript_syllabized_full_text %}
                            <p><small>Syllabification is based on saved syllabized text.</small></p>
                        {% endif %}
                        <!-- TODO: figure out how to silabilize the text and align with melody -->
                        <dd>
                            {% for syl_mel, syl_text in syllabized_text_with_melody %}
                            <span style="float: left;">
                                <div style="font-family: volpiano; font-size:30px">{{ syl_mel }}</div>
                                <div style="font-size: 10px">{{ syl_text }}</div>
                            </span>
                            {% endfor %}
                        </dd>
                    </div>
                </div>
                {% endif %}

                {% if chant.image_link %}
                <dt>
                    Image link
                </dt>
                <dd>
                    <a href="{{ chant.image_link }}" target="_blank">{{ chant.image_link }}</a>
                </dd>
                {% endif %}
            </dl>

            <h4>List of concordances</h4>
            <a id="ajax_concordance" href="#">» Display all concordances of this chant</a>
            <div id="concordance_div"></div>

            <br>
            <h4>List of melodies</h4>
            <a id="ajax_melody" href="#" onclick="">» Display the melodies connected with this chant</a>
            <div id="melody_div"></div>        

            <script>
                const concordanceTable = document.getElementById('concordance_div')
                const ajaxConcordance = () => {
                    $.ajax({
                        type: "GET", 
                        // url: "/ajax/{{ chant.cantus_id }}",
                        url: "{% url 'ajax_concordance' chant.cantus_id %}",
                        success: function(response){
                            const concordances = response.concordances;
                            const concordanceCount = response.concordance_count;
                            // document.getElementById("test").innerHTML = cantus_id.toString();
                            concordanceTable.innerHTML += `Displaying <b>${concordanceCount}</b> concordances from the following databases (Cantus ID <b>{{ chant.cantus_id }})</b>`;
                            concordanceTable.innerHTML += `<table id="concordanceTable" class="table table-responsive table-sm small">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" class="text-wrap">Siglum</th>
                                                                        <th scope="col" class="text-wrap">Folio</th>
                                                                        <th scope="col" class="text-wrap">Incipit</th>
                                                                        <th scope="col" class="text-wrap">Office </th>
                                                                        <th scope="col" class="text-wrap">Genre </th>
                                                                        <th scope="col" class="text-wrap">Position</th>
                                                                        <th scope="col" class="text-wrap">Feast</th>
                                                                        <th scope="col" class="text-wrap">Mode</th>
                                                                        <th scope="col" class="text-wrap">Image</th>
                                                                        <th scope="col" class="text-wrap">DB</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>`;
                            const table = document.getElementById("concordanceTable").getElementsByTagName("tbody")[0];
                            concordances.map(chant=>{
                                // console.log(chant.siglum)
                                const newRow = table.insertRow(table.rows.length);
                                if (chant.siglum) {newRow.innerHTML += `<td class="text-wrap"><a href="${chant.source_link}">${chant.siglum}</a></td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.folio) {newRow.innerHTML += `<td class="text-wrap">${chant.folio}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.incipit) {newRow.innerHTML += `<td class="text-wrap"><a href="${chant.chant_link}">${chant.incipit}</a></td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.office__name) {newRow.innerHTML += `<td class="text-wrap">${chant.office__name}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.genre__name) {newRow.innerHTML += `<td class="text-wrap">${chant.genre__name}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.position) {newRow.innerHTML += `<td class="text-wrap">${chant.position}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.feast__name) {newRow.innerHTML += `<td class="text-wrap">${chant.feast__name}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.mode) {newRow.innerHTML += `<td class="text-wrap">${chant.mode}</td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                if (chant.image_link) {newRow.innerHTML += `<td class="text-wrap"><a href="${chant.image_link}" target="_blank">Image</a></td>`} else {newRow.innerHTML += '<td class="text-wrap"></td>'}
                                newRow.innerHTML += `<td class="text-wrap">${chant.db}</td>`
                            });
                            document.getElementById("concordance_div").innerHTML += "<a href='//cantusindex.org/ci/{{ chant.cantus_id }}?c=1&refresh=1' target='_blank'>Refresh results</a>";
                            document.getElementById("ajax_concordance").style.display = "none";
                        },
                        error: function(error){
                            document.getElementById("concordance_div").innerHTML = "Error when displaying the concordances"
                        }
                    });
                }
                document.getElementById("ajax_concordance").addEventListener("click", ()=>{
                    ajaxConcordance()
                })
            </script>

            <script>
                const melodyTable = document.getElementById('melody_div')
                const ajaxMelody = (cantus_id) => {
                    $.ajax({
                        type: "GET", 
                        url: "{% url 'ajax_melody' chant.cantus_id %}",
                        success: function(response){
                            const concordances = response.concordances;
                            const melodyCount = response.concordance_count;
                            melodyTable.innerHTML += `Displaying <b>${melodyCount}</b> melodies from the following databases: `;
                            melodyTable.innerHTML += `<table id="melodyTable" class="table table-responsive table-sm small">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" class="text-wrap">Chant</th>
                                                                        <th scope="col" class="text-wrap">Melody</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>`;
                            const table = document.getElementById("melodyTable").getElementsByTagName("tbody")[0];
                            concordances.map(chant=>{
                                // console.log(chant.siglum)
                                const newRow = table.insertRow(table.rows.length);

                                chantCell = newRow.insertCell()
                                melodyCell = newRow.insertCell()

                                if (chant.siglum) {chantCell.innerHTML += `<a href="${chant.source_link}">${chant.siglum}</a>`} else {chantCell.innerHTML += ''}
                                chantCell.innerHTML += '<br>';
                                if (chant.folio) {chantCell.innerHTML += `${chant.folio} | `} else {chantCell.innerHTML += ''}
                                if (chant.office__name) {chantCell.innerHTML += `${chant.office__name} `} else {chantCell.innerHTML += ''}
                                if (chant.genre__name) {chantCell.innerHTML += `<b>${chant.genre__name} </b>`} else {chantCell.innerHTML += ''}
                                if (chant.position) {chantCell.innerHTML += `${chant.position}`} else {chantCell.innerHTML += ''}
                                chantCell.innerHTML += '<br>';
                                if (chant.feast__name) {chantCell.innerHTML += `${chant.feast__name}`} else {chantCell.innerHTML += ''}
                                chantCell.innerHTML += '<br>';
                                chantCell.innerHTML += `Cantus ID: <a href=${chant.ci_link}>${cantus_id}</a>`

                                melodyCell.innerHTML += `<div style="font-family: volpiano; font-size:20px">${chant.volpiano}</div>`
                                melodyCell.innerHTML += '<br>'
                                if (chant.mode) {melodyCell.innerHTML += `M:<b>${chant.mode} </b>`} else {melodyCell.innerHTML += ''}
                                if (chant.manuscript_full_text_std_spelling) {melodyCell.innerHTML += `<a href=${chant.chant_link}>${chant.manuscript_full_text_std_spelling}</a>`} else {melodyCell.innerHTML += ''}
                            });
                            document.getElementById("ajax_melody").style.display = "none";
                        },
                        error: function(error){
                            document.getElementById("melody_div").innerHTML = "Error when displaying the melodies"
                        }
                    });
                }
                document.getElementById("ajax_melody").addEventListener("click", ()=>{
                    ajaxMelody({{ chant.cantus_id }})
                })
            </script>


            {% comment %} <br>
            <a href="" class="btn btn-primary" id="delete">Delete this Chant</a>
            <script>
                window.onload = function () {
                    document.getElementById("delete").href = window.location.href + '/delete';
                }
            </script> {% endcomment %}

        </div>

        <div class="col">
            <div class="row">
                <!-- global search bar-->
                {% include "global_search_bar.html" %}
            </div>

            {% with source=chant.source %}
                <div class="row">
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <b>Source navigation</b>
                            <br>
                            <a href="{{ source.get_absolute_url }}"> <b>{{ source.siglum }}</b> </a>
                        </div>

                        <div class="card-body">
                            <small>
                                <!--a small selector of all folios of this source-->
                                <select name="folios" id="folio-select" class="w-30" onchange="setFolio()">
                                    <option value="">Select a folio</option>
                                    {% for folio in folios %}
                                        {% if folio == chant.folio %}
                                            <option selected value="{{ folio }}">{{ folio }}</option>
                                        {% else %}
                                            <option value="{{ folio }}">{{ folio }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                {% if previous_folio %}
                                    <a href="{% url "chant-list" %}?source={{ source.id }}&folio={{ previous_folio }}">{{ previous_folio }} <</a>
                                {% endif %}
                                {% if next_folio %}
                                    &nbsp;<a href="{% url "chant-list" %}?source={{ source.id }}&folio={{ next_folio }}">> {{ next_folio }}</a>
                                {% endif %}

                                {% if chant.image_link %}
                                    <br>
                                    <a href={{ chant.image_link }} target="_blank">» Display facsimile <b>({{ chant.folio }})</b></a>
                                    <br>
                                {% endif %}

                                {% if previous_folio %}
                                    <br>
                                    <div id="previous_div" style="display:none">
                                        {% for feast, chants in feasts_previous_folio %}
                                            Folio: <b>{{ previous_folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                            <table class="table table-responsive table-sm small table-bordered">     
                                                {% for chant in chants %}
                                                    <tr>
                                                        <td>{{ chant.sequence_number }}</td>
                                                        <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                        <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                        <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endfor %}
                                    </div>
                                    <a id="previous_toggle" onclick="togglePrevious(this.id)" href="#" role="button">Display previous chants ▴</a>
                                {% endif %}
                                <br>


                                {% for feast, chants in feasts_current_folio %}
                                    Folio: <b>{{ chant.folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                    <table class="table table-responsive table-sm small table-bordered">     
                                        {% for chant in chants %}
                                            <tr>
                                                <td>{{ chant.sequence_number }}</td>
                                                <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endfor %}

                                {% if next_folio %}
                                    <a id="next_toggle" href="#" onclick="toggleNext(this.id)">Display next chants ▾</a>
                                    <br>

                                    <div id="next_div" style="display:none">
                                        {% for feast, chants in feasts_next_folio %}
                                            Folio: <b>{{ next_folio }}</b> - Feast: <b>{{ feast.name }}</b>
                                            <table class="table table-responsive table-sm small table-bordered">     
                                                {% for chant in chants %}
                                                    <tr>
                                                        <td>{{ chant.sequence_number }}</td>
                                                        <td>{{ chant.office.name|default_if_none:"" }} <b>{{ chant.genre.name|default_if_none:"" }}</b> {{ chant.position|default_if_none:"" }} </td>
                                                        <td><a href="{{ chant.get_absolute_url }}">{{ chant.incipit|default_if_none:"" }}</a></td>
                                                        <td><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default_if_none:"" }}</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card mb-3 w-100">
                        <div class="card-header">
                            <!-- TODO: add proper segment link here -->
                            <small><a href="/sources?segment={{ source.segment.id }}">
                                    {{ source.segment.name }}</a></small>
                            <br>
                            {{ source.siglum }}
                        </div>
                        <div class=" card-body">
                            <!-- TODO: add proper links here -->
                            <small>
                                {% if source.provenance.name %}
                                Provenance: <b><a href="#">{{source.provenance.name}}</a></b>
                                <br>
                                {% endif %}
                                {% if source.date %}
                                Date: 
                                {% for century in source.century.all %}
                                <b><a href="#">{{ century.name }}</a></b>
                                {% endfor %}
                                |
                                <b>{{source.date|default_if_none:""}}</b>
                                <br>
                                {% endif %}
                                {% if source.cursus %}
                                Cursus: <b>{{source.cursus|default_if_none:""}}</b>
                                <br>
                                {% endif %}
                                {% if source.notation.all %}
                                Notation: <b><a href="#">{{source.notation.all.first.name}}</a></b>
                                <br>
                                {% endif %}
                                {% if source.inventoried_by.all %}
                                Inventoried by:
                                <ul class="list-unstyled" style="margin-bottom: 0rem;">
                                    {% for editor in source.inventoried_by.all %}
                                    <li>
                                        <a href={{ editor.get_absolute_url }}><b>{{editor.first_name}}
                                            {{editor.family_name}}</b></a><br>
                                        {{ editor.institution|default_if_none:"" }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% comment %} {% if source.proofreaders.all %} {% endcomment %}
                                    Proofreader{{source.proofreaders.all|pluralize}}:
                                    <br>
                                    <ul class="list-unstyled" style="margin-bottom: 0rem;">
                                        {% for editor in source.proofreaders.all %}
                                        <li>
                                            <a href={{ editor.get_absolute_url }}><b>{{editor.first_name}}
                                                {{editor.family_name}}</b></a><br>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% comment %} {% endif %} {% endcomment %}
                                {{source.indexing_notes|default_if_none:""}}
                                <br>
                                Contributor: <a href="">CANTUS Database Administrator</a>
                            </small>
                        </div>
                    </div>

                </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}