{% extends "base.html" %}
{% block content %}
{% load static %}
<title>{{ source.title }} | Cantus Database</title>
<script src="/static/js/chant_edit.js"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
<div class="container">
    <div class="row">
        <div class="p-3 col-lg-8 bg-white rounded main-content">

            <!--Display messages -->
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    {{ message }}
                </div>
            {% endfor %}

            <!--Display form error message -->
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% for error in form.non_field_errors %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error }}
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ field.label }}: {{ field.errors|striptags }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if pk_specified %}
                {% if user.is_authenticated %}
                    <p>
                        <a href="{% url 'chant-detail' chant.id %}">View</a> | Edit
                    </p>
                {% endif %}
                <form method="post" style="line-height: normal">{% csrf_token %}
                    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                    
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.marginalia.label_tag }}</small>
                            {{ form.marginalia }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.folio.label_tag }}<span class="text-danger" title="This field is required">*</span></small>
                            {{ form.folio }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <label for="{{ form.c_sequence.id_for_label }}">
                                <small>Sequence:<span class="text-danger" title="This field is required">*</span></small>
                            </label>
                            {{ form.c_sequence }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-3">
                            <small>{{ form.feast.label_tag }}</small>
                            <br>{{ form.feast }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-3">
                            <label for="{{ form.office.id_for_label }}"><small>Service:</small></label>
                            <br>{{ form.office }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-3">
                            <small>{{ form.genre.label_tag }}</small>
                            <br>{{ form.genre }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.position.label_tag }}</small>
                            {{ form.position }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <label for="{{ form.cantus_id.id_for_label }}">
                                <small>Cantus ID:</small>
                            </label>
                            {{ form.cantus_id }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <label for="{{ form.melody_id.id_for_label }}">
                                <small>Melody ID:</small>
                            </label>
                            {{ form.melody_id }}
                        </div>
                        <div id="segment-select-field" class="form-group m-1 col-lg-4">
                            <small>{{ form.segment.label_tag }}<span class="text-danger" title="This field is required">*</span></small>
                            {{ form.segment }}
                        </div>
    
                        <div class="form-group m-1 col-lg-3">
                            <small>{{ form.liturgical_function.label_tag }}</small>
                            {{ form.liturgical_function }}
                        </div> 
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.mode.label_tag }}</small>
                            {{ form.mode }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.finalis.label_tag }}</small>
                            {{ form.finalis }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.differentia.label_tag }}</small>
                            {{ form.differentia }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.extra.label_tag }}</small>
                            {{ form.extra }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.polyphony.label_tag }}</small>
                            {{ form.polyphony }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <label for="{{ form.diff_db.id_for_label }}">
                                <small>Differentiae Database:</small>
                            </label>
                            <br>{{ form.diff_db }}
                            <div>
                                <small class="text-muted">
                                    For a list of Differentia IDs, refer to
                                    the <a href="https://differentiaedatabase.ca/index" target="_blank">Differentiae Database</a>.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-8">
                            <small>{{ form.addendum.label_tag }}</small>
                            {{ form.addendum }}
                        </div>
                        {% if user_can_proofread_chant %}
                            <div class="form-group m-1 col-lg-2">
                                <small>{{ form.chant_range.label_tag }}</small>
                                {{ form.chant_range }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- The next three rows of fields are hidden unless the Benedicamus Domino segment is selected. -->
                    <div id="benedicamus-domino-segment-fields" hidden>
                        <div class="form-row">

                            <div class="form-group m-1 col-lg-4">
                                <small>{{ form.cm_melody_id.label_tag }}</small>
                                {{ form.cm_melody_id }}
                            </div>

                            <div class="form-group m-1 col-lg">
                                <small>{{ form.incipit_of_refrain.label_tag }}</small>
                                {{ form.incipit_of_refrain }}
                            </div>


                        </div>

                        <div class="form-row">
                            <div class="form-group m-1 col-lg">
                                <small>{{ form.later_addition.label_tag }}</small>
                                {{ form.later_addition }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group m-1 col-lg">
                                <small>{{ form.rubrics.label_tag }}</small>
                                {{ form.rubrics }}
                            </div>
                        </div>
                    </div>

                    {% if suggested_fulltext %}
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <input type="button"
                            value="Fill suggested text"
                            title="Fill suggested text"
                            onclick='autoFillSuggestedFullText("{{ suggested_fulltext }}")'>
                        </div>
                    </div>
                    {% endif %}
                                        
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <label for="{{ form.manuscript_full_text_std_spelling.id_for_label }}">
                                <small>Full text as in Source (standardized spelling):<span class="text-danger" title="This field is required">*</span></small>
                            </label>
                            {{ form.manuscript_full_text_std_spelling }}
                        </div>
                    </div>

                    {% if user_can_proofread_chant %}
                        <div class="form-row">
                            <div class="form-group m-1 col-lg-12">
                                <label for="{{ form.manuscript_full_text_std_spelling.id_for_label }}">
                                    <small>Full text as in Source (standardized spelling) proofread:</small>
                                </label>
                                {{ form.manuscript_full_text_std_proofread }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-4">
                            <button type="button" class="btn btn-dark btn-sm" id="copyFullTextBelow">Copy full text below</button>                
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <label for="{{ form.manuscript_full_text.id_for_label }}">
                                <small>Full text as in Source (source spelling):</small>
                            </label>
                            {{ form.manuscript_full_text }}
                        </div>
                    </div>

                    {% if user_can_proofread_chant %}
                        <div class="form-row">
                            <div class="form-group m-1 col-lg-12">
                                <label for="{{ form.manuscript_full_text_std_spelling.id_for_label }}">
                                    <small>Full text as in Source (source spelling) proofread:</small>
                                </label>
                                {{ form.manuscript_full_text_proofread }}
                            </div>
                        </div>
                    {% endif %}
        
                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <label for="{{ form.volpiano.id_for_label }}">
                                <small>Volpiano:</small>
                            </label>
                            {{ form.volpiano }}
                        </div>
                    </div>

                    {% if user_can_proofread_chant %}
                        <div class="form-row">
                            <div class="form-group m-1 col-lg-12">
                                <label for="{{ form.volpiano.id_for_label }}">
                                    <small>Volpiano proofread:</small>
                                </label>
                                {{ form.volpiano_proofread }}
                            </div>
                        </div>
                    {% endif %}

                    {% if chant.volpiano %}
                        <div class="form-row">
                            <div class="form-group m-1 col-lg-12">
                                <small>Preview of melody with text:</small>
                                {% if chant.manuscript_syllabized_full_text %}
                                    <p><small>Syllabification is based on saved syllabized text.</small></p>
                                {% endif %}
                                <dd>
                                    {% for syl_text, syl_mel in syllabized_text_with_melody %}
                                        <span style="float: left">
                                            <div style="font-family: volpiano; font-size: 36px">{{ syl_mel }}</div>
                                            <!-- "mt" is margin at the top, so that the lowest note in volpiano don't overlap with text -->
                                            <div class="mt-2" style="font-size: 12px; "><pre>{{ syl_text }}</pre></div>
                                        </span>
                                    {% endfor %}
                                </dd>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-4">
                            <a href="{% url "source-edit-syllabification" chant.id %}" style="display: inline-block; margin-top:5px;" target="_blank">
                                <small>Edit syllabification (new window)</small>
                            </a>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <small>{{ form.image_link.label_tag }}</small>
                            {{ form.image_link }}
                        </div>
                    </div>
                    {% if user_can_proofread_chant %}
                        <div class="form-row">
                            <div class="form-group m-1 col-lg-12">
                                <small>{{ form.proofread_by.label_tag }}</small>
                                <br>{{ form.proofread_by }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-12">
                            <small>{{ form.indexing_notes.label_tag }}</small>
                            {{ form.indexing_notes }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-1">
                            <button type="submit" class="btn btn-dark btn-sm" id="btn-submit">Save</button>
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <a href="{% url "chant-delete" chant.id %}" class="btn btn-danger btn-sm" id="btn-delete">Delete</a>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-4">
                            <small>
                                <a href="{% url "chant-detail" chant.id %}" target="_blank">Open chant page (new window)</a>
                            </small>
                        </div>
                    </div>
                </form> 
            {% else %}
                <h3>Full text &amp; Volpiano edit form</h3>
                <br>
                <dl>
                    <dd><small>1) Select a <b>folio</b> or a <b>feast</b> (in the right block)</small></dd>
                    <dd><small>2) Click <b>"EDIT"</b> next to any chant</small></dd>
                    <dd><small>3) The <b>fulltext</b> and <b>Volpiano</b> fields should appear in this area</small></dd>
                    <dd><small>4) Edit the fields <b>according to the manuscript, following the fulltext guidelines created by Cantus</b></small></dd>
                    <dd><small>5) Click <b>"SAVE"</b></small></dd>
                </dl>
                <div style="margin-top:5px;">
                    <a href="{% url 'source-detail' source.id %}" title="{{ source.title }}">
                        {{ source.siglum }}
                    </a>
                </div>
                <div style="margin-top:5px;">
                    <a href="{% url "chant-create" source.pk %}">
                        <small><b>&plus; Add new chant</b></small>
                    </a>
                </div>
                <div style="margin-top:5px;">
                    <a href="{% url "source-create" %}">
                        <small><b>&plus; Add new source</b></small>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="col p-0 sidebar">
            <div class="search-bar mb-3">
                {% include "global_search_bar.html" %}
            </div>

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h4><a href="{% url 'source-detail' source.id %}" title="{{ source.title }}">{{ source.siglum }}</a></h4>
                </div>
                <div class="card-body">
                    {% if source.chant_set.exists %}
                        <small>
                            <!--a small selector of all folios of this source-->
                            <select id="folioSelect" class="w-30">
                                <option value="">Select a folio:</option>
                                {% for folio in folios %}
                                    {% if folio == initial_GET_folio %}
                                        <option value="{{ folio }}" selected>{{ folio }}</option>
                                    {% else %}
                                        <option value="{{ folio }}">{{ folio }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>             
                            
                            {% if previous_folio %}
                                <a href="{% url "source-edit-chants" source.id %}?folio={{ previous_folio }}">{{ previous_folio }} <</a>
                            {% endif %}
                            {% if next_folio %}
                                &nbsp;<a href="{% url "source-edit-chants" source.id %}?folio={{ next_folio }}">> {{ next_folio }}</a>
                            {% endif %}             

                            <br>

                            <select id="feastSelect" style="width: 200px;"> <!-- style attribute prevents select element from extending beyond left edge of div element -->
                                <option value="">Select a feast:</option>
                                {% for folio, feast_id, feast_name in feasts_with_folios %}
                                    <option value="{{ feast_id }}">{{ folio }} - {{ feast_name }}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </small>
                    {% else %}
                        <small>Source contains no chants – <a href="{% url "chant-create" source.pk %}">Add new chant</a></small>
                    {% endif %}
                    {% comment %} render if the user has selected a specific folio {% endcomment %}
                    {% if feasts_current_folio %}
                        {% for feast, chants in feasts_current_folio %}
                            <small>Folio: <b>{{ chant.folio }}</b> - Feast: <b title="{{ chant.feast.description }}">{{ feast.name }}</b></small>
                            <table class="table table-sm small table-bordered">     
                                {% for chant in chants %}
                                    <tr>
                                        <td class="h-25" style="width: 5%">
                                            {{ chant.c_sequence }}
                                        </td>
                                        <td class="h-25" style="width: 20%">
                                            <span title="{{ chant.office.description }}">
                                                {{ chant.office.name|default_if_none:"" }}
                                            </span>
                                            <b title="{{ chant.genre.description }}">
                                                {{ chant.genre.name|default_if_none:"" }}
                                            </b>
                                            {{ chant.position|default_if_none:"" }}
                                        </td>
                                        <td class="h-25" style="width: 40%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 0">
                                            <a href="{% url 'chant-detail' chant.id %}" target="_blank">
                                                {{ chant.incipit|default_if_none:"" }}
                                            </a>
                                        </td>
                                        <td class="h-25" style="width: 20%">
                                            <a href="{{ chant.get_ci_url }}" target="_blank">
                                                {{ chant.cantus_id|default_if_none:"" }}
                                            </a>
                                        </td>
                                        <td class="h-25" style="width: 5%">
                                            {{ chant.mode|default:"" }}
                                        </td>
                                        <td class="h-25" style="width: 10%">
                                            <a href="{% url 'source-edit-chants' source.id %}?pk={{ chant.pk }}&folio={{ chant.folio }}">
                                                EDIT
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% comment %} render if the user has selected a specific feast {% endcomment %}
                    {% elif folios_current_feast %}
                        {% for folio, chants in folios_current_feast %}
                            <small>Folio: <b>{{ folio }}</b> - Feast: <b title="{{ chant.feast.description }}">{{ chant.feast }}</b></small>
                            <table class="table table-sm small table-bordered">     
                                {% for chant in chants %}
                                    <tr>
                                        <td class="h-25" style="width: 5%">
                                            {{ chant.c_sequence }}
                                        </td>
                                        <td class="h-25" style="width: 20%">
                                            <span title="{{ chant.office.description }}">
                                                {{ chant.office.name|default_if_none:"" }}
                                            </span>
                                            <b title="{{ chant.genre.description }}">
                                                {{ chant.genre.name|default_if_none:"" }}
                                            </b>
                                            {{ chant.position|default_if_none:"" }}
                                        </td>
                                        <td class="h-25" style="width: 40%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 0">
                                            <a href="{% url 'chant-detail' chant.id %}" target="_blank">
                                                {{ chant.incipit|default_if_none:"" }}
                                            </a>
                                        </td>
                                        <td class="h-25" style="width: 20%">
                                            <a href="{{ chant.get_ci_url }}" target="_blank">
                                                {{ chant.cantus_id|default_if_none:"" }}
                                            </a>
                                        </td>
                                        <td class="h-25" style="width: 5%">
                                            {{ chant.mode|default:"" }}
                                        </td>
                                        <td class="h-25" style="width: 10%">
                                            <a href="{% url 'source-edit-chants' source.id %}?pk={{ chant.pk }}&feast={{ chant.feast.id }}">
                                                EDIT
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% endif %}
                </div>    
            </div>    
        </div>
    </div>
</div>
{% endblock %}
