{% extends "base.html" %}
{% block content %}
<title>Delete Chant | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-8 bg-white rounded">
    <form method="post">{% csrf_token %}
        <p>
            <span class="text-danger">
                Are you sure you want to delete this chant:
                <b><a href={% url "chant-detail" object.id %} target="_blank">{{ object.incipit }}</a></b>?
            </span></p>
        <input type="submit" value="Confirm">
    </form>
</div>
{% endblock %}