<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <p>Select the chant by clicking "OK" at the left. If your chant is not included here, please add it into
        <a href="https://cantusindex.org/">Cantus Index</a> or contact the <a
            href="mailto:kolacek2010@gmail.com">administrator</a>
    </p>
    <table class="table table-responsive table-sm small table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th width="50">Select</th>
                <th width="80">Cantus ID</th>
                <th width="80">Genre</th>
                <th width="100">Fulltext</th>
            </tr>
        </thead>

        <tbody>
            {% for cantus_id,genre,full_text in results %}
            <tr id="{{ cantus_id }}">
                <td><input type="button" value="OK" onclick="autoFill()" /></td>
                <td>{{ cantus_id }}</td>
                <td>{{ genre }}</td>
                <td>{{ full_text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function autoFill() {
            var rowId = event.target.parentNode.parentNode.id; //this gives id of tr whose button was clicked 
            var cantus_id = document.getElementById(rowId).cells[1].innerText;
            var genre = document.getElementById(rowId).cells[2].innerText;
            var full_text = document.getElementById(rowId).cells[3].innerText;

            // get the option value corresponding to the genre name
            const genreId = Array.prototype.find.call(opener.document.getElementById('id_genre').children, ({ textContent }) => textContent === genre);

            opener.document.getElementById('id_cantus_id').value = cantus_id;
            opener.document.getElementById('id_genre').value = genreId.value;
            opener.document.getElementById('id_manuscript_full_text_std_spelling').value = full_text;
            close()
        }
    </script>
</body>
</html>
