{% extends "base.html" %}
{% block content %}
<title>Contact | Cantus Manuscript Database</title>
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>

    <h3>Contact</h3>
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success alert-dismissible">{{ message }}</div>
            {% elif 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group col-lg-2">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}"><small>Your name</small></label>
            {{ form.name }}
        </div>
        <div class="form-group col-lg-2">
            {{ form.sender_email.errors }}
            <label for="{{ form.sender_email.id_for_label }}"><small>Your e-mail address</small></label>
            {{ form.sender_email }}
        </div>
        <div class="form-group col-lg-2">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"><small>Subject</small></label>
            {{ form.subject }}
        </div>
        <div class="form-group col-lg-2">
            {{ form.message.errors }}
            <label for="{{ form.message.id_for_label }}"><small>Message</small></label>
            {{ form.message }}
        </div>
        <div class="form-group col-lg-2">
            {{ form.send_yourself_copy.errors }}
            <label for="{{ form.send_yourself_copy.id_for_label }}"><small>Send Yourself a Copy</small></label>
            {{ form.send_yourself_copy }}
        </div>
        <div class="form-group col-lg-8">
            {{ form.skill_testing_question.errors }}
            <label for="{{ form.skill_testing_question.id_for_label }}">
                <small>
                    Enter the missing character from the following word:
                    <br/><strong>{{ skill_testing_question }}</strong>
                </small>
            </label>
            <br/>{{ form.skill_testing_response }}
            <input type="hidden" name="hidden_skill_testing_question" value="{{ skill_testing_question }}">
        </div>

        <input type="submit" value="Send message">
    </form>

</div>
{% endblock %}
