{% extends "base.html" %}
{% block content %}
<title>{{ source.title }} | Cantus Manuscript Database</title>
<script src="/static/js/edit_volpiano.js"></script>

<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-8 bg-white rounded">
            <!--Display form error message -->
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for error in form.non_field_errors %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ field.label }}: {{ field.errors|striptags }}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if pk_specified %}
                <form method="post" style="line-height: normal">{% csrf_token %}
                    <div class="form-row">
                        <label for="{{ form.manuscript_full_text_std_spelling.id_for_label }}">
                            <small>Manuscript Reading Full Text (standardized spelling):</small>
                        </label>
                        {{ form.manuscript_full_text_std_spelling }}
                    </div>

                    <div class="form-row">
                        <button type="button" class="btn btn-dark btn-sm" id="copyFullTextBelow">Copy full text below</button>                
                    </div>

                    <div class="form-row">
                        <label for="{{ form.manuscript_full_text.id_for_label }}">
                            <small>Manuscript Reading Full Text (MS spelling):</small>
                        </label>
                        {{ form.manuscript_full_text }}
                    </div>

                    <div class="form-row">
                        <label for="{{ form.volpiano.id_for_label }}">
                            <small>Volpiano:</small>
                        </label>
                        {{ form.volpiano }}
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.marginalia.label_tag }}</small>
                            {{ form.marginalia }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.folio.label_tag }}</small>
                            {{ form.folio }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.sequence.label_tag }}</small>
                            {{ form.sequence }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.feast.label_tag }}</small>
                            {{ form.feast }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.office.label_tag }}</small>
                            {{ form.office }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.genre.label_tag }}</small>
                            {{ form.genre }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <label for="{{ form.cantus_id.id_for_label }}">
                                <small>Cantus ID:</small>
                            </label>
                            {{ form.cantus_id }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <label for="{{ form.melody_id.id_for_label }}">
                                <small>Melody ID:</small>
                            </label>
                            {{ form.melody_id }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.mode.label_tag }}</small>
                            {{ form.mode }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.finalis.label_tag }}</small>
                            {{ form.finalis }}
                        </div>
                        <div class="form-group m-1 col-lg-2">
                            <small>{{ form.extra.label_tag }}</small>
                            {{ form.extra }}
                        </div>
                    </div>

                    <div class="form-row">
                        <small>{{ form.image_link.label_tag }}</small>
                        {{ form.image_link }}
                    </div>

                    <div class="form-row">
                        <small>{{ form.indexing_notes.label_tag }}</small>
                        {{ form.indexing_notes }}
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-dark btn-sm" id="btn-submit">Save</button>
                    </div>
                </form> 
                <small>
                    <a href="{% url "chant-detail" chant_pk %}" target="_blank">Open chant page (new window)</a>
                </small>
            {% else %}
                <h3>Full text &amp; Volpiano edit form</h3>
                <br>
                <dl>
                    <dd><small>1) Select a <b>folio</b> or a <b>feast</b> (in the right block)</small></dd>
                    <dd><small>2) Click <b>"EDIT"</b> next to any chant</small></dd>
                    <dd><small>3) The <b>fulltext</b> and <b>Volpiano</b> fields should appear in this area</small></dd>
                    <dd><small>4) Edit the fields <b>according to the manuscript, following the fulltext guidelines created by Cantus</b></small></dd>
                    <dd><small>5) Click <b>"SAVE"</b></small></dd>
                </dl> 
            {% endif %}
        </div>

        <div class="col p-0">
            <!-- global search bar-->
            {% include "global_search_bar.html" %}

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h4>{{ source.siglum }}</h4>
                </div>
                <div class="card-body">
                    <small>
                        <!--a small selector of all folios of this source-->
                        <select id="folioSelect" class="w-30">
                            <option value="">Select a folio:</option>
                            {% for folio in folios %}
                                <option value="{{ folio }}">{{ folio }}</option>
                            {% endfor %}
                        </select>             
                        
                        {% if previous_folio %}
                            <a href="{% url "source-edit-volpiano" source.id %}?folio={{ previous_folio }}">{{ previous_folio }} <</a>
                        {% endif %}
                        {% if next_folio %}
                            &nbsp;<a href="{% url "source-edit-volpiano" source.id %}?folio={{ next_folio }}">> {{ next_folio }}</a>
                        {% endif %}             

                        <br>

                        <select id="feastSelect">
                            <option value="">Select a feast:</option>
                            {% for folio, feast in feasts_with_folios %}
                                <option value="{{ feast.id }}">{{ folio }} - {{ feast.name }}</option>
                            {% endfor %}
                        </select>

                        <br>

                    </small>
                    {% if chants.all %}
                    <table class="table table-sm small table-bordered">
                        <tbody>
                            {% for chant in chants %}
                                <tr>
                                    <td class="text-wrap" style="text-align:center">
                                        <small>{{ forloop.counter }}</small>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <small>
                                            {{ chant.office.name|default:"" }}
                                            <br>
                                            {{ chant.genre.name|default:"" }}
                                            <br>
                                            {{ chant.position|default:"" }}
                                        </small>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <small>{{ chant.incipit|default:"" }}</small>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <small><a href="{{ chant.get_ci_url }}" target="_blank">{{ chant.cantus_id|default:"" }}</a></small>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <small>{{ chant.mode|default:"" }}</small>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <button type="button" class="btn btn-dark btn-sm" id="editButton" name="{{ chant.pk }}">EDIT</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}        
                </div>    
            </div>    
        </div>
    </div>
</div>
{% endblock %}
