{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <h3>{{ feast.name }}</h3>
    <p>{{ feast.description }}</p>
    <dl class="list-inline">
        {% if feast.feast_code %}
        <dt>Feast Code</dt>
        <dd>{{ feast.feast_code }}</dd>
        {% endif %}
        {% if feast.month and feast.day %}
        <dt>Feast Date</dt>
        <dd>{{ feast.month|month_to_string|default:""}}.{{ feast.day|default:""}}</dd>
        <dt>Day</dt>
        <dd>{{ feast.day|default:""}}</dd>
        <dt>Month</dt>
        <dd>{{ feast.month|default:""}}</dd>
        {% endif %}
        {% if feast.notes %}
        <dt>Notes</dt>
        <dd>{{ feast.notes }}</dd>
        {% endif %}
    </dl>

    <!-- TODO: add lists of chants and sources related to this feast-->
</div>
{% endblock %}
