<!DOCTYPE html>
<html>

<head>
    <!-- prevent search engines from indexing the staging website, remove for production -->
    <meta name="robots" content="noindex">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        a {
            color: #922;
        }

        a:hover {
            color: #CC3333;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <title>Inventory | Cantus Manuscript Database</title>
    <h3>CANTUS Manuscript Inventory: 
        <a href="{% url 'source-detail' source.id %}" target="_href">{{ source.title }}</a>
    </h3>
    This source inventory contains {{ chants.count }} chants.
    <table class="table table-sm small table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="80" title="Siglum">Siglum</th>
                <th width="30" title="Marginalia">Marg</th>
                <th width="30" title="Folio">Folio</th>
                <th width="30" title="Sequence">Seq</th>
                <th width="80" title="Feast">Feast</th>
                <th width="30" title="Office">Office</th>
                <th width="30" title="Genre">Genre</th>
                <th width="30" title="Position">Pos</th>
                <th width="200" title="Incipit">Incipit</th>
                <th width="80" title="Cantus ID">Cantus ID</th>
                <th width="30" title="Mode">Mode</th>
                <th width="30" title="Differentia">Diff</th>
            </tr>
        </thead>

        <tbody>
            {% for chant in chants %}
                <tr>
                    {% comment %} 
                        `default`: use the given default if the value evaluates to False
                        `default_if_none`: use the given default only if the value is None
                    {% endcomment %}
                    <td title="{{ chant.source.title }}">{{ chant.source.siglum|default_if_none:"" }}</td>
                    <td>{{ chant.marginalia|default_if_none:"" }}</td>
                    <td>{{ chant.folio|default_if_none:"" }}</td>
                    <td>
                        {% if chant.is_chant %}
                            {{ chant.c_sequence }}
                        {% elif chant.is_sequence %}
                            {{ chant.s_sequence }}
                        {% endif %}
                    </td>
                    <td>
                        <span title="{{ chant.feast.description }}">
                            {{ chant.feast.name|default_if_none:"" }}
                        </span>
                    </td>
                    <td>
                        <span title="{{ chant.office.description }}">
                            {{ chant.office.name|default_if_none:"" }}
                        </span>
                    </td>
                    <td>
                        <span title="{{ chant.genre.description }}">
                            {{ chant.genre.name|default_if_none:"" }}
                        </span>
                    </td>
                    <td>{{ chant.position|default_if_none:"" }}</td>
                    <td>
                        {% if chant.is_chant %}
                            <a href="{% url 'chant-detail' chant.id %}" target="_blank">{{ chant.incipit|default_if_none:"" }}</a>
                        {% elif chant.is_sequence %}
                            <a href="{% url 'sequence-detail' chant.id %}" target="_blank">{{ chant.incipit|default_if_none:"" }}</a>
                        {% endif %}
                    </td>
                    <td>{{ chant.cantus_id|default_if_none:"" }}</td>
                    <td>{{ chant.mode|default_if_none:"" }}</td>
                    <td>{{ chant.differentia|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
