<!DOCTYPE html>
<html>

<head>
    <!-- prevent search engines from indexing the staging website, remove for production -->
    <meta name="robots" content="noindex">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        a {
            color: #922;
        }

        a:hover {
            color: #CC3333;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <title>Index | Cantus Manuscript Database</title>
    <h3>CANTUS Manuscript Index: 
        <a href="{{ source.get_absolute_url }}" target="_href">{{ source.title }}</a>
    </h3>
    This source index contains {{ chants.count }} chants.
    <table class="table table-sm small table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="80">Siglum</th>
                <th width="30">Marg</th>
                <th width="30">Folio</th>
                <th width="30">Seq</th>
                <th width="80">Feast</th>
                <th width="30">Office</th>
                <th width="30">Genre</th>
                <th width="30">Pos</th>
                <th width="200">Incipit</th>
                <th width="80">Cantus ID</th>
                <th width="30">Mode</th>
                <th width="30">Diff</th>
            </tr>
        </thead>

        <tbody>
            {% for chant in chants %}
                <tr>
                    {% comment %} 
                        `default`: use the given default if the value evaluates to False
                        `default_if_none`: use the given default only if the value is None
                    {% endcomment %}
                    <td>{{ chant.source.siglum|default_if_none:"" }}</td>
                    <td>{{ chant.marginalia|default_if_none:"" }}</td>
                    <td>{{ chant.folio|default_if_none:"" }}</td>
                    <td>{{ chant.c_sequence|default_if_none:"" }}</td>
                    <td>{{ chant.feast.name|default_if_none:"" }}</td>
                    <td>{{ chant.office.name|default_if_none:"" }}</td>
                    <td>{{ chant.genre.name|default_if_none:"" }}</td>
                    <td>{{ chant.position|default_if_none:"" }}</td>
                    <td><a href="{{ chant.get_absolute_url }}" target="_blank">{{ chant.incipit|default_if_none:"" }}</a></td>
                    <td>{{ chant.cantus_id|default_if_none:"" }}</td>
                    <td>{{ chant.mode|default_if_none:"" }}</td>
                    <td>{{ chant.differentia|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
