{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>List of Genres | Cantus Manuscript Database</title>
<script src="/static/js/genre_list.js"></script>

<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>List of Genres</h3>
    <small>Displaying {{ page_obj.start_index }}-{{ page_obj.end_index }} of <b>{{ page_obj.paginator.count }}</b></small>
    
    <form method="get">
        <p>Filter Genres:</p>
        <div class="form-row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="anyChoice" name="mass_office" value="">
                <label class="form-check-label" for="anyChoice">- Any -</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="massChoice" name="mass_office" value="Mass">
                <label class="form-check-label" for="massChoice">Mass</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="officeChoice" name="mass_office" value="Office">
                <label class="form-check-label" for="officeChoice">Office</label>
            </div>
            <div class="form-group m-1 col-lg">
                <button type="submit" class="btn btn-dark btn-sm" id="btn-submit">Apply</button>
            </div>
        </div>
    </form>

    <table class="table table-sm small table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-wrap">Genre</th>
                <th scope="col" class="text-wrap">Description</th>
                <th scope="col" class="text-wrap">Mass / Office</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td style="text-align:center">
                        <a href="{{ genre.get_absolute_url }}"><b>{{ genre.name }}</b></a>
                    </td>
                    <td style="text-align:center">
                        {{ genre.description|default:"" }}
                    </td>
                    <td style="text-align:center">
                        {{ genre.mass_office }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}
</div>
{% endblock %}
