<script src="/static/js/search_bar.js"></script>
<form method="GET" action="{% url 'chant-search' %}" autocomplete="off">
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Incipit/CantusID" id="searchBar" name="search_bar">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </input>
    </div>
</form>
<!--The chants returned by the ajax call go here-->
<div id="chantsDiv" class="w-100 position-absolute" style="z-index:1"></div>