<!DOCTYPE html>
<head>
    <script src="/static/js/search_bar.js"></script>
</head>
<body>
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Incipit/CantusID" id="searchBar">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </input>
    </div>
    <!--The chants returned by the ajax call go here-->
    <div id="chantsDiv"></div>
</body>