{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>List of Indexers | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>List of Indexers</h3>
    <small>Displaying {{ page_obj.start_index }}-{{ page_obj.end_index }} of <b>{{ page_obj.paginator.count }}</b></small>
    <form method="get">
        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="Type any part of a word" name="q" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark btn-sm"> Search </button>
            </div>
        </div>
    </form>
    <br>
    
    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Institution</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Sources</th>
            </tr>
        </thead>
        <tbody>
            {% for indexer in indexers %}
                <tr>
                    <td class="text-center text-wrap">
                        <a href="{{ indexer.get_absolute_url }}">{{ indexer.full_name }}</a>
                    </td>
                    <td>{{ indexer.institution|default:"" }}</td>
                    <td>{{ indexer.city|default:"" }}</td>
                    <td>{{ indexer.country|default:"" }}</td>
                    <td><a href="{{ indexer.get_absolute_url }}">{{ indexer.source_count }} source{{ indexer.source_count|pluralize }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" %}
</div>
{% endblock %}
