{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <h3>{{ indexer.first_name }} {{ indexer.family_name }}</h3>
    <dl class="list-inline">
        {% if indexer.institution %}
        <dt>Institution</dt>
        <dd>{{ indexer.institution }}</dd>
        {% endif %}
        {% if indexer.city %}
        <dt>City</dt>
        <dd>{{ indexer.city }}</dd>
        {% endif %}
        {% if indexer.country %}
        <dt>Country</dt>
        <dd>{{ indexer.country }}</dd>
        {% endif %}
    </dl>
</div>
{% endblock %}
