{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">

    <h3>Create Chant</h3>

    <form method="post">

        <div class="form-row">

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.marginalia.label_tag }}</small>
                {{ form.marginalia }}
            </div>

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.folio.label_tag }}</small>
                {{ form.folio }}
                <p class=text-muted><small>{{ form.folio.help_text}}</small></p>
            </div>
            
            <div class="form-group m-1 col-lg-2">
                <label for="{{ form.sequence_number.id_for_label }}"><small>Sequence:</small></label>
                {{ form.sequence_number }}
                <p class=text-muted><small>{{ form.sequence_number.help_text}}</small></p>
            </div>

        </div>
        
        <div class="form-row">

            <div class="form-group m-1 col-lg-2">
                <label for="{{ form.office.id_for_label }}"><small>Office-Mass:</small></label>
                {{ form.office }}                
                <a class="text-muted" href="#"><small>?</small></a>
            </div>

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.genre.label_tag }}</small>
                {{ form.genre }}
                </select>
            </div>
            
            <div class="form-group m-1 col-lg-2">
                <small>{{ form.position.label_tag }}</small>
                {{ form.position }}
            </div>

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.cantus_id.label_tag }}</small>
                {{ form.cantus_id }}
            </div>            
            
            <div class="form-group m-1 col-lg-2">
                <label for="feast-filter"><small>Feast</small></label>
                <select class="form-control custom-select custom-select-sm" id="feast-filter" name="feast">
                    <option value="">- Any -</option>
                    {% for genre in genres %}
                    <option value="{{genre.id}}">{{genre.name}}</option>
                    {% endfor %}
                </select>
            </div>            
        </div>

        <div class="form-row align-items-end">

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.mode.label_tag }}</small>
                {{ form.mode }}
            </div>  

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.differentia.label_tag }}</small>
                {{ form.differentia }}
            </div>  

        </div>

        <div class="form-row align-items-end">

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.finalis.label_tag }}</small>
                {{ form.finalis }}
            </div>  

            <div class="form-group m-1 col-lg-2">
                <small>{{ form.extra.label_tag }}</small>
                {{ form.extra }}
            </div>  

            <div class="form-group m-1 col-lg-2">
                <label for="{{ form.chant_range.id_for_label }}"><small>Range:</small></label>
                {{ form.chant_range }}
            </div>  

        </div>

        <br></br>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <small>{{ form.manuscript_full_text_std_spelling.label_tag }}</small>
                {{ form.manuscript_full_text_std_spelling }}
                <!--textarea class="form-control" rows="3" id="form.manuscript_full_text_std_spelling.id_for_label"></textarea-->
                <p class=text-muted><small>{{ form.manuscript_full_text_std_spelling.help_text }}</small></p>
            </div>
        </div>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <label for="full-text-ms"><small>Manuscript Reading Full-Text (MS_Spelling)</small></label>
                <textarea class="form-control" rows="3" id="full-text-ms"></textarea>
                <p class=text-muted><small>
                    Enter the wording, word order and spellings as found in the manuscript, with abbreviations resolved to standard words. Use upper-case letters as found in the source. Retain “Xpistum” (Christum), “Ihc” (Jesus) and other instances of Greek characters with their closest approximations of Latin letters. Some punctuation signs and vertical dividing lines | are employed in this field. Repetenda and psalm cues can also be recorded here. For more information, contact Cantus Database staff.
                </small></p>
            </div>
        </div>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <label for="volpiano"><small>Volpiano</small></label>
                <textarea class="form-control" rows="3" id="volpiano"></textarea>
            </div>
        </div>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <label for="melody-id"><small>Melody ID</small></label>
                <input type="text" class="form-control form-control-sm" name="melody-id" value="{{ request.POST.marginalia}}"
                    id="melody-id">
            </div>
        </div>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <label for="content-struct"><small>Content Structure</small></label>
                <input type="text" class="form-control form-control-sm" name="content-struct" value="{{ request.POST.marginalia}}"
                    id="content-struct">
            </div>
        </div>

        <div class="form-row align-items-end">
            <div class="form-group m-1 col-lg">
                <label for="index-notes"><small>Indexing Notes</small></label>
                <textarea class="form-control" rows="3" id="index-notes"></textarea>
            </div>
        </div>

        <div class="form-group m-1 col-lg-2">
        <button type="submit" class="btn btn-primary btn-sm" id="btn-submit"> Save </button>
        </div>
    </form>
</div>
{%  endblock %}