{% extends "single_column_with_search_bar.html" %}
{% load humanize %}

{% block title %}
    <title>Content Statistics | Cantus Database</title>
{% endblock %}

{% block header %}
    <h3>Content Statistics</h3>
{% endblock %}
{% block maincontent %}
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chant</td>
                <td>{{ chant_count|intcomma }}</td>
            </tr>

            <tr>
                <td>Sequence</td>
                <td>{{ sequence_count|intcomma }}</td>
            </tr>

            <tr>
                <td>Source</td>
                <td>{{ source_count|intcomma }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
