{% extends "base.html" %}
{% load humanize %}
{% block content %}
<title>Content Statistics | Cantus Database</title>
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Content Statistics</h3>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chant</td>
                <td>{{ chant_count|intcomma }}</td>
            </tr>

            <tr>
                <td>Sequence</td>
                <td>{{ sequence_count|intcomma }}</td>
            </tr>

            <tr>
                <td>Source</td>
                <td>{{ source_count|intcomma }}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
