{% extends "base.html" %}
{% block content %}
<title>{{ notation.name }} | Cantus Manuscript Database</title>
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>{{ notation.name }}</h3>
    <ul>
        {% for source in notation.sources.all|dictsort:"title" %}
            <li>
                <a href="{{ source.get_absolute_url }}">
                    {{ source.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
