{% extends "single_column_with_search_bar.html" %}
{% block title %}<title>{{ notation.name }} | Cantus Database</title>{% endblock %}
{% block heading %}<h3>{{ notation.name }}</h3>{% endblock %}
{% block maincontent %}
    <ul>
        {% for source in sources %}
            <li>
                <a href="{% url 'source-detail' source.id %}"
                   title="{{ source.heading }}">
                    ({{ source.holding_institution.siglum }}) {{ source.heading }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
