{% extends "base.html" %}

{% block title %}
    <title>{{ notation.name }} | Cantus Database</title>
{% endblock %}

{% block content %}
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>{{ notation.name }}</h3>
    <ul>
        {% for source in sources %}
            <li>
                <a href="{% url 'source-detail' source.id %}" title="{{ source.heading }}">
                    {{ source.heading }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
