{% extends "base.html" %}
{% block content %}
<title>Office/Mass Abbereviations | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Office/Mass abbreviations</h3>
    <small>Displaying {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</small>
    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap">Office</th>
                <th scope="col" class="text-wrap">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for office in offices %}
                <tr>
                    <td class="text-wrap">
                        <a href="{{ office.get_absolute_url }}"><b>{{ office.name }}</b></a>
                    </td>
                    <td class="text-wrap">{{ office.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" %}
</div>
{% endblock %}
