{% extends "base.html" %}
{% block content %}
<title>{{ sequence.title }} | Cantus Manuscript Database</title>

<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-12 bg-white rounded">
            <!--Display form error message -->
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% for error in form.non_field_errors %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error }}
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ field.label }}: {{ field.errors|striptags }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <h3><em>Edit Sequence</em> | {{ sequence.title }}</h3>
            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'sequence-detail' sequence.id %}">View</a> | Edit
                </p>
            {% endif %}
            <form method="post" style="line-height: normal">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.title.label_tag }}</small>
                        {{ form.title }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.siglum.label_tag }}</small>
                        {{ form.siglum }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.incipit.label_tag }}</small>
                        {{ form.incipit }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.folio.label_tag }}</small>
                        {{ form.folio }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.sequence.label_tag }}</small>
                        {{ form.sequence }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.genre.label_tag }}</small>
                        {{ form.genre }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.rubrics.label_tag }}</small>
                        {{ form.rubrics }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <label for="{{ form.analecta_hymnica.id_for_label }}">
                            <small>Analecta Hymnica:</small>
                        </label>
                        {{ form.analecta_hymnica }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.indexing_notes.label_tag }}</small>
                        {{ form.indexing_notes }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.date.label_tag }}</small>
                        {{ form.date }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.col1.label_tag }}</small>
                        {{ form.col1 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.col2.label_tag }}</small>
                        {{ form.col2 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.col3.label_tag }}</small>
                        {{ form.col3 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <label for="{{ form.ah_vol.id_for_label }}">
                            <small>AH volume:</small>
                        </label>
                        {{ form.ah_volume }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.source.label_tag }}</small>
                        {{ form.source }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <label for="{{ form.cantus_id.id_for_label }}">
                            <small>Cantus ID:</small>
                        </label>
                        {{ form.cantus_id }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-12">
                        <small>{{ form.image_link.label_tag }}</small>
                        {{ form.image_link }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-2">
                        <button type="submit" class="btn btn-dark btn-sm" id="btn-submit">Save</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock %}
