{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>Clavis Sequentiarum (Calvin Bower) | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Clavis Sequentiarum (Calvin Bower)</h3>
    <small>Displaying <b>{{page_obj.start_index}}-{{page_obj.end_index}}</b> of <b>{{page_obj.paginator.count}}</b></small>

    <form method="get">
        <div class="form-row align-items-end">
            <div class="form-group m-1">
                <label for="incipit"><small><b>Incipit (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="incipit" value="{{ request.GET.incipit }}" id="incipit">
            </div>
            <div class="form-group m-1">
                <label for="siglum"><small><b>Siglum (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="siglum" value="{{ request.GET.siglum }}" id="siglum">
            </div>
            <div class="form-group m-1">
                <label for="CantusID"><small><b>Cantus ID (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="cantus_id" value="{{ request.GET.cantus_id }}" id="CantusID">
            </div>
            <div class="form-group m-1">
                <button type="submit" class="btn btn-primary btn-sm" id="btn-submit"> Apply </button>
            </div>
        </div>
    </form>

    <table class="table table-responsive table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap">Siglum</th>
                <th scope="col" class="text-wrap">Text incipit</th>
                <th scope="col" class="text-wrap">Rubrics</th>
                <th scope="col" class="text-wrap">AH</th>
                <th scope="col" class="text-wrap">Cantus ID</th>
            </tr>
        </thead>
        <tbody>
            {% for sequence in sequences %}
            <tr>
                <td class="text-wrap">
                    <a href={{sequence.source.get_absolute_url}}>
                        {{ sequence.source.siglum }}<br>
                    </a>
                    <b>{{ sequence.folio }}</b> {{ sequence.sequence }}
                </td>
                <td class="text-wrap">
                    <a href="{{ sequence.get_absolute_url }}">
                        {{ sequence.incipit }}
                    </a>
                </td>
                <td class="text-wrap">
                    {{ sequence.rubrics }}
                </td>
                <td class="text-wrap">
                    {{ sequence.analecta_hymnica }}
                </td>
                <td class="text-wrap">
                    {{ sequence.cantus_id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?{% url_add_get_params page=1%}">&laquo;
                first</a>
            <a href="?{% url_add_get_params page=page_obj.previous_page_number %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?{% url_add_get_params page=page_obj.next_page_number %}">next</a>
            <a href="?{% url_add_get_params page=page_obj.paginator.num_pages %}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}