{% extends "base.html" %}
{% block content %}
<title>Clavis Sequentiarum (Calvin Bower) | Cantus Manuscript Database</title>
<div class="mr-3 p-3 col-md-12 mx-auto bg-white rounded">
    <object align="right" class="search-bar">
        {% include "global_search_bar.html" %}
    </object>
    <h3>Clavis Sequentiarum (Calvin Bower)</h3>
    <small>Displaying <b>{{ page_obj.start_index }}-{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b></small>

    <form method="get">
        <div class="form-row align-items-end">
            <div class="form-group m-1">
                <label for="incipit"><small><b>Incipit (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="incipit" value="{{ request.GET.incipit }}" id="incipit">
            </div>
            <div class="form-group m-1">
                <label for="siglum"><small><b>Siglum (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="siglum" value="{{ request.GET.siglum }}" id="siglum">
            </div>
            <div class="form-group m-1">
                <label for="CantusID"><small><b>Cantus ID (any part)</b></small></label>
                <input type="text" class="form-control form-control-sm" name="cantus_id" value="{{ request.GET.cantus_id }}" id="CantusID">
            </div>
            <div class="form-group m-1">
                <button type="submit" class="btn btn-dark btn-sm" id="btn-submit"> Apply </button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap" style="text-align:center">Siglum</th>
                <th scope="col" class="text-wrap" style="text-align:center">Text incipit</th>
                <th scope="col" class="text-wrap" style="text-align:center">Rubrics</th>
                <th scope="col" class="text-wrap" style="text-align:center">AH</th>
                <th scope="col" class="text-wrap" style="text-align:center">Cantus ID</th>
                <th scope="col" class="text-wrap" style="text-align:center">Notes:1</th>
                <th scope="col" class="text-wrap" style="text-align:center">Notes:2</th>
                <th scope="col" class="text-wrap" style="text-align:center">Notes:3</th>
            </tr>
        </thead>
        <tbody>
            {% for sequence in sequences %}
                <tr style="text-align:center">
                    <td class="text-wrap">
                        {% if sequence.source %}
                            <a href="{% url 'source-detail' sequence.source.id %}" title="{{ sequence.source.title }}">
                                <b>{{ sequence.source.siglum }}</b><br>
                            </a>
                        {% endif %}
                        <b>{{ sequence.folio|default:"" }}</b> {{ sequence.s_sequence|default:"" }}
                    </td>
                    <td class="text-wrap">
                        <a href="{% url 'sequence-detail' sequence.id %}">
                            {{ sequence.incipit|default:"" }}
                        </a>
                    </td>
                    <td class="text-wrap">
                        {{ sequence.rubrics|default:"" }}
                    </td>
                    <td class="text-wrap">
                        {{ sequence.analecta_hymnica|default:"" }}
                    </td>
                    <td class="text-wrap">
                        {% comment %} use `urlencode` filter because 1 chant and 2 sequences have forward slash in their cantus_id (data error) {% endcomment %}
                        <a href={% url 'chant-by-cantus-id' sequence.cantus_id|urlencode:"" %}>{{ sequence.cantus_id|default:"" }}</a>
                    </td>
                    <td class="text-wrap">
                        {{ sequence.col1 |default:"" }}
                    </td>
                    <td class="text-wrap">
                        {{ sequence.col2 |default:"" }}
                    </td>
                    <td class="text-wrap">
                        {{ sequence.col3 |default:"" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}
</div>
{% endblock %}