{% extends "filterable_table_with_search_bar.html" %}
{% block title %}<title>Service Abbreviations | Cantus Database</title>{% endblock %}
{% block header %}<h3>Service Abbreviations</h3>{% endblock %}
{% block list_table %}
    <table class="table table-bordered table-sm small">
        <thead>
            <tr>
                <th scope="col" class="text-wrap" title="Service">Service</th>
                <th scope="col" class="text-wrap" title="Description">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td class="text-wrap">
                        <a href="{% url 'service-detail' service.id %}"><b>{{ service.name }}</b></a>
                    </td>
                    <td class="text-wrap">{{ service.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
