{% extends "base.html" %}
{% block content %}
<title>{{ source.title }} | Cantus Manuscript Database</title>
<script src="/static/js/source_detail.js"></script>

<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-8 bg-white rounded">
            <h3>{{ source.title }}</h3>

            {% if user.is_authenticated %}
                <p>
                    View | <a href="{% url 'source-edit' source.id %}">Edit</a>
                </p>
            {% endif %}

            <dl>
                {% if source.siglum %}
                    <dt>Siglum</dt>
                    <dd>{{ source.siglum }}</dd>
                {% endif %}

                {% if source.summary %}
                    <dt>Summary</dt>
                    <dd>{{ source.summary }}</dd>
                {% endif %}

                {% if source.liturgical_occasions %}
                    <dt>Liturgical Occasions</dt>
                    <dd>{{ source.liturgical_occasions }}</dd>
                {% endif %}

                {% if source.description %}
                    <dt>Description</dt>
                    <dd>{{ source.description|safe }}</dd>
                {% endif %}

                {% if source.selected_bibliography %}
                    <dt>Selected Bibilography</dt>
                    <dd>{{ source.selected_bibliography|safe }}</dd>
                {% endif %}

                {% if source.indexing_notes %}
                    <dt>Notes on the Inventory</dt>
                    <dd>{{ source.indexing_notes|safe }}</dd>
                {% endif %}

                {% if source.other_editors.exists %}
                    <dt>Other Editors</dt>
                    <dd>
                        {% for editor in source.other_editors.all %}
                            <a href="{% url 'user-detail' editor.id %}">{{ editor.full_name }}</a><br>
                        {% endfor %}
                    </dd>
                {% endif %}

                {% if source.full_text_entered_by.exists %}
                    <dt>Full Text Entered by</dt>
                    <dd>
                        {% for editor in source.full_text_entered_by.all %}
                            <a href="{% url 'user-detail' editor.id %}">{{ editor.full_name }}</a><br>
                        {% endfor %}
                    </dd>
                {% endif %}

                {% if source.melodies_entered_by.exists %}
                    <dt>Melodies Entered by</dt>
                    <dd>
                        {% for editor in source.melodies_entered_by.all %}
                            <a href="{% url 'user-detail' editor.id %}">{{ editor.full_name }}</a><br>
                        {% endfor %}
                    </dd>
                {% endif %}

                {% if source.complete_inventory is not None %}
                    <dt>Complete/Partial Inventory</dt>
                    <dd>{{ source.complete_inventory|yesno:"Complete Inventory,Partial Inventory" }}</dd>
                {% endif %}

                {% if source.full_source is not None %}
                    <dt>Full Source/Fragment</dt>
                    <dd>{{ source.full_source|yesno:"Full Source,Fragment" }}</dd>
                {% endif %}

                {% if user.is_authenticated %}
                    <dt>Source Status</dt>
                    <dd>{{ source.published|yesno:"Published,Unpublished" }}</dd>
                {% endif %}
                
                {% if source.fragmentarium_id is not None %}
                    <dt>Fragment ID</dt>
                    <dd>{{ source.fragmentarium_id }}</dd>
                {% endif %}

                {% if source.dact_id is not None %}
                    <dt>DACT ID</dt>
                    <dd>{{ source.dact_id }}</dd>
                {% endif %}
            </dl>

            {% if sequences %}
                <h4>Sequences in this source</h4>
                <small>Displaying 1 - {{ sequences.count }} of {{ sequences.count }}</small>
                <small>
                    <table class="table table-sm small table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Siglum">Siglum</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Text Incipit">Text&nbsp;Incipit</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Rubrics">Rubrics</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Analecta Hymnica">AH</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Cantus ID">Cantus&nbsp;ID</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Notes 1">Notes&nbsp;1</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Notes 2">Notes&nbsp;2</th>
                                <th scope="col" class="text-wrap" style="text-align:center" title="Notes 3">Notes&nbsp;3</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sequence in sequences %}
                                <tr>
                                    <td class="text-wrap" style="text-align:center">
                                        <a href="{% url 'source-detail' source.id %}" title="{{ source.title }}">{{ source.siglum }}</a>
                                        <br>
                                        <b>{{ sequence.folio }}</b>  {{ sequence.s_sequence }}
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        <a href="{% url 'sequence-detail' sequence.id %}" >{{ sequence.incipit|default:"" }}</a>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {{ sequence.rubrics|default:"" }}
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {{ sequence.analecta_hymnica|default:"" }}
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {% comment %} use `urlencode` filter because 1 chant and 2 sequences have forward slash in their cantus_id (data error) {% endcomment %}
                                        <a href={% url 'chant-by-cantus-id' sequence.cantus_id|urlencode:"" %}>{{ sequence.cantus_id|default:"" }}</a>
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {{ sequence.col1|default:"" }}
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {{ sequence.col2|default:"" }}
                                    </td>
                                    <td class="text-wrap" style="text-align:center">
                                        {{ sequence.col3|default:"" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </small>
            {% endif %}
        </div>

        <div class="col p-0 sidebar">
            <div class="search-bar">
                {% include "global_search_bar.html" %}
            </div>

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h4>{{ source.siglum }}</h4>
                </div>
                <div class="card-body">
                    <small>
                        <!--a small selector of all folios of this source-->
                        <select id="folioSelect" class="w-30" onchange="jumpToFolio({{ source.id }})">
                            <option value="">Select a folio:</option>
                            {% for folio in folios %}
                                <option value="{{ folio }}">{{ folio }}</option>
                            {% endfor %}
                        </select>                              

                        <select id="feastSelect" onchange="jumpToFeast({{ source.id }})" style="width: 200px;"> <!-- style attribute prevents select element from extending beyond left edge of div element -->
                            <option value="">Select a feast:</option>
                            {% for folio, feast in feasts_with_folios %}
                                <option value="{{ feast.id }}">{{ folio }} - {{ feast.name }}</option>
                            {% endfor %}
                        </select>

                        <br>
                        {% if source.segment.id == 4063 %}
                            {# only display this link for sources in the CANTUS segment #}
                            <a href="{% url "chant-list" %}?source={{ source.id }}" class="guillemet" target="_blank">View all chants</a>
                        {% endif %}
                        <a href="{% url "chant-index" %}?source={{ source.id }}" class="guillemet" target="_blank">View full inventory</a>
                        <a href="{% url "csv-export" source.id%}" class="guillemet" target="_blank" download="{{ source.id }}.csv">CSV export</a>
                        <a href="{% url "chant-search-ms" source.id %}" class="guillemet" target="_blank">Search chants in this manuscript</a>
                        {% if source.image_link %}
                            <a href="{{ source.image_link }}" class="guillemet" target="_blank">Image gallery</a>
                        {% endif %}
                        <a href="{% url "melody-search" %}?source={{ source.id }}"  class="guillemet" target="_blank">Search melodies in this manuscript</a>
                        <a href="//cantusindex.org/analyse?src={{ source.id }}&db=CD" class="guillemet" target="_blank">Analyse this manuscript (Cantus Analysis Tool)</a>
                    </small>
                </div>    
            </div>

            <div class="card mb-3 w-100">
                <div class="card-header">
                    <small>
                        <a href="{% url "source-list" %}?segment={{ source.segment.id }}">{{ source.segment.name }}</a>
                    </small>
                    <br>
                    <b>{{ source.siglum }}</b>
                </div>
                <div class=" card-body">
                    <small>
                        {% if source.provenance.name %}
                            Provenance: <b><a href="{% url 'provenance-detail' source.provenance.id %}">{{source.provenance.name}}</a></b>
                            <br>
                        {% endif %}
                        {% if source.date %}
                            Date: 
                            {% for century in source.century.all %}
                                <b><a href="{% url 'century-detail' century.id %}">
                                    {{ century.name }}
                                </a></b>
                            {% endfor %}
                            |
                            <b>{{ source.date|default_if_none:"" }}</b>
                            <br>
                        {% endif %}
                        {% if source.cursus %}
                            Cursus: <b>{{ source.cursus|default_if_none:"" }}</b>
                            <br>
                        {% endif %}
                        {% if source.notation.exists %}
                            Notation: <b><a href="{% url 'notation-detail' source.notation.all.first.id %}">
                                {{ source.notation.all.first.name }}
                            </a></b>
                            <br>
                        {% endif %}
                        {% if source.inventoried_by.exists %}
                            Inventoried by:
                            <ul>
                                {% for editor in source.inventoried_by.all %}
                                    <li>
                                        <a href={% url 'user-detail' editor.id %}><b>{{ editor.full_name }}</b></a><br>
                                        {{ editor.institution|default_if_none:"" }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if source.proofreaders.exists %}
                            Proofreader{{ source.proofreaders.all|pluralize }}:
                            <br>
                            <ul>
                                {% for editor in source.proofreaders.all %}
                                    <li>
                                        <a href={% url 'user-detail' editor.id %}><b>{{ editor.full_name }}</b></a><br>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ source.indexing_notes|default_if_none:"" }}
                        <br>
                        Contributor: <a href=""></a>
                    </small>
                </div>
            </div>
            {% if not request.user.is_anonymous %}
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        Source edit options
                        <br>
                        <b>{{ source.siglum }}</b>
                    </div>
                    <div class=" card-body">
                        <small>
                            <ul>
                                <li>
                                    <a href="{% url "chant-create" source.id%}">Add new chant</a>
                                </li>
                                {% if source.chant_set.exists %}
                                    <li>
                                        <a href="{% url "source-edit-chants" source.pk %}">
                                            Full text &amp; volpiano editor
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url "source-edit" source.id%}">Edit source description</a>
                                </li>
                                <li>
                                    <a href={% url 'admin:main_app_source_change' source.id %}>Manage source editors</a>
                                </li>
                            </ul>
                        </small>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
