{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="mr-3 p-3 col-lg-8 bg-white rounded" id="long-info">
        <h3>{{ source.title }}</h3>
        <dl>
            {% if source.siglum %}
            <dt>Siglum</dt>
            <dd>{{ source.siglum }}</dd>
            {% endif %}

            {% if source.summary %}
            <dt>Summary</dt>
            <dd>{{ source.summary }}</dd>
            {% endif %}

            {% if source.liturgical_occasions %}
            <dt>Liturgical Occasions</dt>
            <dd>{{ source.liturgical_occasions }}</dd>
            {% endif %}

            {% if source.description %}
            <dt>Description</dt>
            <dd>{{ source.description|safe }}</dd>
            {% endif %}

            {% if source.selected_bibliography %}
            <dt>Selected Bibilography</dt>
            <dd>{{ source.selected_bibliography|safe }}</dd>
            {% endif %}

            {% if source.indexing_notes %}
            <dt>Notes on the Inventory</dt>
            <dd>{{ source.indexing_notes|safe }}</dd>
            {% endif %}

            {% if source.other_editors.all %}
            <dt>Other Editors</dt>
            <dd>
                {% for editor in source.other_editors.all %}
                <a href={{ editor.get_absolute_url }}>{{editor.first_name}} {{editor.family_name}}</a><br>
                {% endfor %}
            </dd>
            {% endif %}

            {% if source.full_text_entered_by.all %}
            <dt>Full Text Entered by</dt>
            <dd>
                {% for editor in source.full_text_entered_by.all %}
                <a href={{ editor.get_absolute_url }}>{{editor.first_name}} {{editor.family_name}}</a><br>
                {% endfor %}
            </dd>
            {% endif %}

            {% if source.melodies_entered_by.all %}
            <dt>Melodies Entered by</dt>
            <dd>
                {% for editor in source.melodies_entered_by.all %}
                <a href={{ editor.get_absolute_url }}>{{editor.first_name}} {{editor.family_name}}</a><br>
                {% endfor %}
            </dd>
            {% endif %}

            {% if source.complete_inventory is not None %}
            <dt>Complete/Partial Inventory</dt>
            <dd>{{ source.complete_inventory|yesno:"Complete Inventory,Partial Inventory"}}</dd>
            {% endif %}

            {% if source.full_source is not None %}
            <dt>Full Source/Fragment</dt>
            <dd>{{ source.full_source|yesno:"Full Source,Fragment"}}</dd>
            {% endif %}
        </dl>
    </div>

    <div class="col">
        <div class="row">
            <div class="card mb-3 w-100">
                <div class="card-header">
                    {{ source.siglum }}
                </div>
                <!-- TODO: update this when I have the chants on the database -->
                <div class="card-body">
                    <select name="folios" id="folio-select" class="w-75">
                        <option value="none">-Select a folio-</option>
                    </select>

                    <select name="feasts" id="feast-select" class="w-75">
                        <option value="none">-Select a feast-</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3 w-100">
                <div class="card-header">
                    <!-- TODO: add proper segment link here -->
                    <small><a href="#">
                            {{ source.segment.name }}</a></small>
                    <br>
                    {{ source.siglum }}
                </div>
                <div class=" card-body">
                    <!-- TODO: add proper links here -->
                    <small>
                        Provenance: <a href="#">{{source.provenance.name}}</a>
                        <br>
                        Date: <a href="#">{{source.century.all.first.name }}</a> |
                        <b>{{source.date|default_if_none:""}}</b>
                        <br>
                        Cursus: <b>{{source.cursus|default_if_none:""}}</b>
                        <br>
                        Notation: <a href="#">{{source.notation.all.first.name}}</a>
                        <br>
                        Inventoried by:
                        <ul class="list-unstyled" style="margin-bottom: 0rem;">
                            {% for editor in source.invetoried_by.all %}
                            <li>
                                <a href={{ editor.get_absolute_url }}>{{editor.first_name}}
                                    {{editor.family_name}}</a><br>
                                {{ editor.institution|default_if_none:"" }}
                            </li>
                            {% endfor %}
                        </ul>

                        Proofreader{{source.proofreaders.all|pluralize}}:
                        {% if source.proofreaders.all %}
                        <ul class="list-unstyled" style="margin-bottom: 0rem;">
                            {% for editor in source.proofreaders.all %}
                            <li>
                                <a href={{ editor.get_absolute_url }}>{{editor.first_name}} {{editor.family_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{source.indexing_notes|default_if_none:""}}
                        <br>
                        Contributor:
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}