{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Create Source | Cantus Database</title>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}

<div class="container">
    <div class="row">
        <div class="p-3 col-lg-12 bg-white rounded">
            <h3>Create Source</h3>

            <!--Display "submit success" message -->
            {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <!--Display form error message -->
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% for error in form.non_field_errors %}
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error }}
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ field.label }}: {{ field.errors|striptags }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" style="line-height: normal">{% csrf_token %}
                {#                <div class="form-row">#}
                {#                    <div class="form-group m-1 col-lg-6">#}
                {#                        <label for="{{ form.title.id_for_label }}">#}
                {#                            <small>Full Source Identification (City, Archive, Shelf-mark):<span class="text-danger" title="This field is required">*</span></small>#}
                {#                        </label>#}
                {#                        {{ form.title }}#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="form-row">#}
                {#                    <div class="form-group m-1 col-lg-4">#}
                {#                        <small>{{ form.siglum.label_tag }}<span class="text-danger" title="This field is required">*</span></small>#}
                {#                        {{ form.siglum }}#}
                {#                        <p class=text-muted><small>{{ form.siglum.help_text }}</small></p>#}
                {#                    </div>    #}
                {#                </div>#}
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <label for="{{ form.holding_institution.id_for_label }}">
                            <small>Holding Institution:</small>
                        </label>
                        <br>{{ form.holding_institution }}
                        <p class=text-muted>
                            <small>{{ form.holding_institution.help_text }}</small>
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <label for="{{ form.shelfmark.id_for_label }}">
                            <small>Shelfmark:</small>
                        </label>
                        <br>{{ form.shelfmark }}
                        <p class=text-muted>
                            <small>{{ form.shelfmark.help_text }}</small>
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <label for="{{ form.provenance.id_for_label }}">
                            <small>Provenance (origin / history):</small>
                        </label>
                        <br>{{ form.provenance }}
                        <p class=text-muted><small>{{ form.provenance.help_text }}</small></p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.provenance_notes.label_tag }}</small>
                        {{ form.provenance_notes }}
                        <p class=text-muted><small>{{ form.provenance_notes.help_text }}</small></p>
                    </div>

                    <div class="form-group m-1 col-lg-3">
                        <label for="{{ form.full_source.id_for_label }}">
                            <small>Full source / fragment:</small>
                        </label>
                        {{ form.full_source }}
                        <p class=text-muted><small>{{ form.full_source.help_text }}</small></p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.century.label_tag }}</small>
                        {{ form.century }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.date.label_tag }}</small>
                        {{ form.date }}
                        <p class=text-muted><small>{{ form.date.help_text }}</small></p>
                    </div>
                    <div class="form-group m-1 col-lg-1">
                        <small>{{ form.cursus.label_tag }}</small>
                        {{ form.cursus }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.current_editors.label_tag }}</small>
                        {{ form.current_editors }}
                    </div>
                </div> 
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.melodies_entered_by.label_tag }}</small>
                        {{ form.melodies_entered_by }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.inventoried_by.label_tag }}</small>
                        {{ form.inventoried_by }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.full_text_entered_by.label_tag }}</small>
                        {{ form.full_text_entered_by }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.proofreaders.label_tag }}</small>
                        {{ form.proofreaders }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group m-1 col-lg-3">
                        <small>{{ form.other_editors.label_tag }}</small>
                        {{ form.other_editors }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.complete_inventory.id_for_label }}">
                            <small>Complete / partial inventory:</small>
                        </label>
                        {{ form.complete_inventory }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-5">
                        <small>{{ form.summary.label_tag }}</small>
                        {{ form.summary }}
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group m-1 col-lg-5">
                        <small>{{ form.description.label_tag }}</small>
                        {{ form.description }}
                    </div>
                    <div class="form-group m-1 col-lg-5">
                        <small>{{ form.selected_bibliography.label_tag }}</small>
                        {{ form.selected_bibliography }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-6">
                        <small>{{ form.image_link.label_tag }}</small>
                        {{ form.image_link }}
                        <p class=text-muted><small>{{ form.image_link.help_text }}</small></p>
                    </div>
                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.fragmentarium_id.id_for_label }}"><small>Fragmentarium ID:</small></label>
                        {{ form.fragmentarium_id }}
                    </div>
                    <div class="form-group m-1 col-lg-2">
                        <label for="{{ form.dact_id.id_for_label }}"><small>DACT ID:</small></label>
                        {{ form.dact_id }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group m-1 col-lg-5">
                        <small>{{ form.indexing_notes.label_tag }}</small>
                        {{ form.indexing_notes }}
                    </div>
                </div>

                <div class="form-group m-1 col-lg-2">
                    <button type="submit" class="btn btn-dark btn-sm" id="btn-submit"> Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
