{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>My Sources | Cantus Manuscript Database</title>
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-lg-8 bg-white rounded">
            <h3>My Sources</h3>
            <a href="{% url "source-create" %}"><b>+ Add new source</b></a>
            <table class="table table-sm small table-bordered">
                <tbody>
                    {% for source in page_obj %}
                        <tr>
                            <td class="h-25" style="width: 40%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 0; text-align:center">
                                <a href="{% url "source-detail" source.pk %}">
                                    <b>{{ source.title }}</b>
                                </a>
                            </td>
                            <td class="h-25" style="width: 30%; text-align:center">
                                <a href="{% url "source-edit-volpiano" source.pk %}">
                                    Full text &amp; volpiano editor
                                </a>
                            </td>
                            <td class="h-25" style="width: 30%; text-align:center">
                                <a href="{% url "chant-proofread" source.pk %}">
                                    Proofreading form
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" %}
        </div>
        <div class="col p-0">
            <!-- global search bar-->
            {% include "global_search_bar.html" %}
            <div class="card mb-3 w-100">
                <div class="card-header">
                    <h4>Sources created by user</h4>
                </div>
                <div class="card-body">
                    <a href="{% url "source-create" %}"><b>+ Add new source</b></a>
                    <table class="table table-sm small table-bordered">
                        <tbody>
                            {% for my_source in user_created_sources_page_obj %}
                                <tr>
                                    <td class="h-25" style="width: 50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 0; text-align:center">
                                        <a href="{% url "source-detail" my_source.pk %}">
                                            <b>&bull; {{ my_source.title }}</b>
                                        </a>
                                        <br>
                                        <a href="{% url "chant-create" my_source.pk %}" style="display: inline-block; margin-top:5px;">
                                            &plus; Add new chant
                                        </a>
                                        <br>
                                        <a href="{% url "source-edit-volpiano" my_source.pk %}">
                                            &bull; Full text &amp; volpiano editor
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include "pagination.html" %}
                </div>    
            </div>    
        </div>
    </div>
</div>
{% endblock %}
