{% extends "base.html" %}
{% load helper_tags %}
{% block content %}
<title>{{ user.first_name }} {{ user.family_name }} | Cantus Manuscript Database</title>
<div class="mr-3 p-3 mx-auto bg-white rounded">
    <!-- global search bar-->
    <object align="right">
        {% include "global_search_bar.html" %}
    </object>
    <h3>{{ user.first_name }} {{ user.family_name }}</h3>
    <dl class="list-inline">
        {% if user.institution %}
        <dt>Institution</dt>
        <dd>{{ user.institution }}</dd>
        {% endif %}
        {% if user.city %}
        <dt>City</dt>
        <dd>{{ user.city }}</dd>
        {% endif %}
        {% if user.country %}
        <dt>Country</dt>
        <dd>{{ user.country }}</dd>
        {% endif %}
    </dl>
</div>
{% endblock %}
