{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% if PROJECT_ENVIRONMENT == "PRODUCTION" %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXEY1VRT2W"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-JXEY1VRT2W');
        </script>
    {% endif %}
    {% if not PROJECT_ENVIRONMENT == "PRODUCTION" %}
        {# to ensure Google/etc. only indexes the main production site, and not staging #}
        <meta name="robots" content="noindex" />
    {% endif %}
    <title>IIIF Viewer | Cantus Database</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="google-site-verification"
        content="EwxpNpZ_ZOQnetVVLELGn5-aD_beT3EQqUuI6glkArI"/>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/universalviewer@4.0.0/dist/uv.css"/>
    <script type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/universalviewer@4.0.0/dist/umd/UV.js"
    ></script>
    <style>
        body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        }
        .uv { /* Ensure the UV div itself takes up space before JS resizes it */
        width: 100vw;
        height: 100vh;
        }
    </style>
  </head>
  <body>
    <div id="uv" class="uv"></div>

    <script type="text/javascript">
        // Get manifest from URL query parameter
        const params = new URLSearchParams(window.location.search);
        const manifestFromURL = params.get('manifest');

        const data = {
        manifest: manifestFromURL, 
        embedded: true
        };

        uv = UV.init("uv", data);

        uv.on('error', function(event) {
        console.error('Universal Viewer Error:', event);
        });
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var $UV = document.getElementById("uv");

        function resize() {
        if ($UV) {
            $UV.style.width = window.innerWidth + "px";
            $UV.style.height = window.innerHeight + "px";
        }
        }
        window.addEventListener("resize", resize);
        resize();
    });
    </script>
  </body>
</html>