{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="p-3 col-lg-6 bg-white rounded my-3">
                <!--Display messages -->
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <!--Display form error message -->
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">×</a>
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">×</a>
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <h5>Change Password</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col col-xl-5 col-form-label"
                               for="{{ form.old_password.id_for_label }}">
                            Old password
                        </label>
                        <div class="col">{{ form.old_password }}</div>
                    </div>
                    <div class="row">
                        <label class="col col-xl-5 col-form-label"
                               for="{{ form.new_password1.id_for_label }}">
                            New password
                        </label>
                        <div class="col">{{ form.new_password1 }}</div>
                    </div>
                    <div class="row">
                        <label class="col col-xl-5 col-form-label"
                               for="{{ form.new_password2.id_for_label }}">
                            Confirm new password
                        </label>
                        <div class="col">{{ form.new_password2 }}</div>
                    </div>
                    <button type="submit" class="btn btn-dark" id="btn-submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
