{% extends "base.html" %}

{% block title %}
    <title>Log in | Cantus Database</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="p-3 col-12 bg-white rounded">
            <!--Display "submit success" message -->
            {% if messages %}
            <div class="alert alert-success alert-dismissible">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
            {% endif %}

            <div class="col-md" id="login">
                <h5>Login for Contributors</h5>
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Email</label>
                        <br>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <br>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-dark" id="btn-submit">
                        Log in
                    </button>
                    <br><br>
                    <div class="form-group">
                        Forgotten your password? <a href="{% url "reset_password" %}">Request a new password</a>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}