{% comment %}
    This filename contains a trailing underscore to differentiate it from the
    django builtin `password_reset_confirm.html`. If the name is not different,
    PasswordResetCompleteView.as_view(template_name="registration/password_reset_complete.html")
    in urls.py will find the builtin template before it finds this one.
{% endcomment %}

{% extends "base.html" %}

{% block content %}
<title>Reset Password Complete | Cantus Manuscript Database</title>
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-md-12 bg-white rounded">
            <p>Your password has been set.  You may go ahead and log in now.</p>

            <p><a href="{{ login_url }}">Log in</a></p>
        </div>
    </div>
</div>

{% endblock %}
