{% extends "base.html" %}

{% comment %}
    This filename contains a trailing underscore to differentiate it from the
    django builtin `password_reset_confirm.html`. If the name is not different,
    PasswordResetConfirmView.as_view(template_name="registration/password_reset_confirm.html")
    in urls.py will find the builtin template before it finds this one.
{% endcomment %}

{% block content %}
<title>Reset Password | Cantus Manuscript Database</title>
<div class="container">
    <div class="row">
        <div class="mr-3 p-3 col-md-12 bg-white rounded">
        {% if validlink %}

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-group">
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                </div>
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <div class="form-group">
                        <label for="id_new_password1">New password</label>
                        <br>
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <div class="form-group">
                        <label for="id_new_password2">Confirm password</label>
                        <br>
                        {{ form.new_password2 }}
                    </div>
                </div>
                <button type="submit" class="btn btn-dark" id="btn-submit">
                    Reset Password
                </button>
            </fieldset>
            </form>

            {% else %}

            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
