{% extends "base.html" %}

{% block title %}
    <title>Password Reset Email Sent | Cantus Database</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="p-3 col-12 bg-white rounded">
            <h5>Password Reset Email Sent</h5>
            <p>We’ve emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly.</p>

            <p>If you don’t receive an email, please make sure you’ve correctly entered the address associated with your account, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}
