{% extends "base.html" %}

{% block content %}
<title>Request Password Reset | Cantus Manuscript Database</title>
<div class="container">
    <div class="row">
        <div class="p-3 col-12 bg-white rounded">
            
            <!--Display messages -->
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    {{ message }}
                </div>
            {% endfor %}
            
            <!--Display form error message -->
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error }}
                    </div>
                {% endfor %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="col-md">
                <h5>Request Password Reset</h5>
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-group">
                        <label for="id_email">Email address:</label>
                        <br>
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-dark" id="btn-submit">
                        Send Password Reset Email
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
