{% extends "base.html" %}
{% block content %}
    <div class="container my-4">
        <div class="row d-lg-block">
            <div class="col-lg-4 p-0 ps-lg-3 sidebar float-end">
                {% block uppersidebar %}
                    {# Cards in this section will jump above the main content on small screens #}
                {% endblock %}
            </div>
            <div class="p-3 mb-3 mb-lg-0 col-lg-8 bg-white rounded float-start">
                {% block maincontent %}{% endblock %}
            </div>
            <div class="col-lg-4 p-0 ps-lg-3 sidebar float-end">
                {% block lowersidebar %}
                    {# Cards in this section will jump below the main content on small screens #}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
