<!DOCTYPE html>
{% load static %}
{% load helper_tags %} {# for has_group #}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="robots" content="noindex">
    <meta name="google-site-verification" content="EwxpNpZ_ZOQnetVVLELGn5-aD_beT3EQqUuI6glkArI" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static "favicon.ico" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- font-awesome CSS for icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <style>
        html {
            position: relative;
            min-height: 90%;
        }

        body {
            margin-bottom: 30px;
            /* Margin bottom by footer height */
            background-image: url('{% static "background.jpg" %}');
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
        }

        .footer li {
            padding: 5px 0px !important
        }

        .bg-footer {
            background-color: #CC3333;
        }

        /* Change dropdown selected background to blue */
        .dropdown .dropdown-menu .dropdown-item:active,
        .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #f6f6f6 !important;
            color: #CC3333;
        }

        hr.color {
            border-top: 1px solid lightblue !important;
        }

        .nav-link {
            color: black;
        }

        .nav-item {
            margin: 0px 10px;
        }

        .nav-item .nav-link .small {
            color: #5e5e5f;
        }

        .navbar-toggler {
            margin: 0px 10px;
        }

        .navbar-brand {
            margin: 0px 10px;
        }

        .border-top {
            border-style: solid none none;
            border-width: 5px !important;
            border-color: #CC3333 !important;
        }

        a {
            color: #922;
        }

        a:hover {
            color: #CC3333;
            text-decoration: none;
        }

        .footer h5 {
            margin: 25px 0px 10px
        }
        
        /* links, appearing in sidebars, preceded with guillemets ("»"s) */
        .guillemet {
            display: block
        }

        .guillemet::before {
            content: "» "
        }

        /* this class is used for displaying results under the global search bar */
        .list-group-item-action:hover {
            color: black;
            transition: background-color .25s;
            background-color: #CC3333;
        }

        @media print {
            header, footer, .search-bar, .sidebar {
                display: none;
            }
        }
    </style>
    <link href="{% static 'fonts/volpiano.css' %}" rel="stylesheet" media="screen">
</head>

<body>
    <header>
        <!-- Navbar -->
        <div class="container-fluid" style="padding: 0px">
            <nav class="navbar navbar-expand-xl navbar-light bg-white border-top col-12">
                <a class="navbar-brand" href="/">
                    <img src="{% static "CantusLogoSmall.gif" %}"
                        alt="Cantus Database: A Database for Latin Ecclesiastical Chant" loading="lazy">
                </a>

                <!-- Hamburger button to show nav when screen is smaller-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-links">
                    <ul class="navbar-nav mx-auto">

                        <!-- HOME -->
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/">HOME<br style:"line-height: 50pt;"/><span
                                    class="small">Home
                                    Page</span></a>
                        </li>

                        <!-- ABOUT -->
                        <li class="nav-item dropdown text-info">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT<br><span class="small">Information</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'article-list' %}">News</a>
                                <a class="dropdown-item" href="{% url 'indexer-list' %}">Contributors</a>
                                <a class="dropdown-item" href="/about/id-numbers/">ID Numbers: A History and
                                    Explanation</a>
                                <a class="dropdown-item" href="/about/acknowledgements/">Acknowledgements</a>
                                <a class="dropdown-item" href="/about/faq/">FAQ</a>
                                <a class="dropdown-item" href="https://www.youtube.com/watch?v=iMmGrUxhPj4">Short Video
                                    Introduction(YouTube)</a>
                                <a class="dropdown-item" href="{% url 'items-count' %}">Items Count</a>
                            </div>
                        </li>

                        <!-- SOURCES -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SOURCES<br><span class="small">List of inventories</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'source-list' %}?segment=4063">Cantus Sources</a>
                                <a class="dropdown-item" href="{% url 'source-list' %}?segment=4064">Clavis Sequentiarium (Sequence Database by Calvin
                                    Bower)</a>
                            </div>
                        </li>

                        <!-- CHANTS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CHANTS<br><span class="small">Search</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'chant-search' %}">Chant Search</a>
                                <a class="dropdown-item" href="{% url 'melody-search' %}">Search by melody</a>
                                <a class="dropdown-item" href="{% url 'sequence-list' %}">Clavis Sequentiarium (Sequence Database by Calvin
                                    Bower)</a>
                            </div>
                        </li>

                        <!-- FEASTS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="/feasts"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                FEASTS<br><span class="small">List of feasts</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'feast-list' %}">List of all feasts</a>
                                <a class="dropdown-item" href="{% url "feast-list" %}?date=sanc">Sanctorale</a>
                                <a class="dropdown-item" href="{% url "feast-list" %}?date=temp">Temporale</a>
                            </div>
                        </li>

                        <!-- TERMS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="/genres"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                TERMS<br><span class="small">Genres & fields</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'genre-list' %}">Genre abbreviations</a>
                                <a class="dropdown-item" href="{% url 'office-list' %}">Office/Mass abbreviations</a>
                                <a class="dropdown-item" href="/field-descriptions/">Fields</a>
                            </div>
                        </li>

                        <!-- RESOURCES -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                RESOURCES<br><span class="small">Docs, Instructions, Tools</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/tutorial/">Tutorial for Cantus Contributors</a>
                                <a class="dropdown-item" href="/documents/">PDF Documents for Cantus Contributors</a>
                                <a class="dropdown-item" href="/citations/">Citation Style</a>
                                <a class="dropdown-item" href="/references/">References</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- <hr class="color"> -->
    </header>

    <!-- Content goes here, using the extends tag from Django -->
    <main role="main" class="content container pt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer in every page -->
    <footer class="footer">
        <hr style="opacity: 0%"> <!-- hr necessary to create spacing between <main> and <footer> -->
        <div class="p-3 bg-white small">
            <div class="container">
                <div class="row">
                    <div class="col-md" id="team-info">
                        <h5>Cantus Team</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0"><strong><a href="mailto:dlacoste@uwaterloo.ca">Debra Lacoste</a>
                                </strong>&nbsp; |&nbsp;
                                Project Manager</li>
                            <li class="list-group-item p-0"><strong><a href="http://kolacek.org">Jan Koláček</a>
                                </strong>&nbsp;
                                |&nbsp; Project
                                Developer</li>
                            <li class="list-group-item p-0"><strong><a
                                        href="http://www.dal.ca/faculty/arts/school-of-performing-arts/faculty-staff/our-faculty/musicology/jennifer-bain.html">Jennifer
                                        Bain </a> &nbsp;</strong> |&nbsp; Principal Investigator</li>
                            <li class="list-group-item p-0"><strong><a
                                        href="https://uwaterloo.ca/stratford-campus/people-profiles/christine-mcwebb">Christine
                                        McWebb </a> &nbsp;</strong> |&nbsp; Co-Investigator</li>
                            <li class="list-group-item p-0"><a href="/indexers">&nbsp;&nbsp; ⇨ List of contributors</a></li>
                        </ul>
                    </div>
                    <div class="col-md" id="license">
                        <h5>Creative Commons License</h5>
                        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                            <img src="{% static "creative-commons-logo.png" %}" alt="Creative Commons Logo" loading="lazy">
                        </a>
                        <p>
                            This work is licensed under a <a
                                href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
                                Attribution-NonCommercial-ShareAlike 4.0 International License.</a>
                        </p>
                    </div>
                    <div class="col-md" id="contact">
                        <h5>Contact Us</h5>
                        <div>
                            <a href="{% url 'contact' %}">      
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <!-- draw the envelope icon -->
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                                Contact
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/CantusDatabase" target="_blank">Cantus Database on Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" id="logos">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="https://uwaterloo.ca/margot/" target="_blank">
                                    <img class="img-fluid p-2" style="max-width: 100%;" src="{% static "uwaterloo-logo.png" %}" alt="University of Waterloo Logo"
                                        loading="lazy">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://www.dal.ca/faculty/arts/school-of-performing-arts.html" target="_blank">
                                    <img class="img-fluid p-2" style="max-width: 100%;" src="{% static "dalhousie-logo.png" %}" alt="Dalhousie University Logo"
                                        loading="lazy">
                                </a>
                            </div>
                        </div>
                        <img class="img-fluid p-2" style="max-width: 100%;" src="{% static "sshrc-logo.jpg" %}" alt="SSHRC Logo" loading="lazy">
                        <a href="https://alliancecan.ca/" target="_blank">
                            <img class="img-fluid p-2" style="max-width: 100%;" src="{% static "digital-alliance-logo.png" %}" alt="Digital Alliance Logo"
                                loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-3" id="database-links">
                        <h5>Database Links</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0">
                                <a href="http://cantusindex.org/" target="_blank">
                                    Cantus Index (all chants catalogue)
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://pemdatabase.eu/" target="_blank">
                                    Portuguese Early Music Database
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://cantus.sk" target="_blank">
                                    Slovak Early Music Database
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://hun-chant.eu" target="_blank">
                                    Hungarian Chant Database
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://cantusbohemiae.cz" target="_blank">
                                    Fontes Cantus Bohemiae
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://cantus.ispan.pl" target="_blank">
                                    Cantus Planus in Polonia
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://musicahispanica.eu" target="_blank">
                                    Spanish Early Music Manuscript Database
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://musmed.eu" target="_blank">
                                    Medieval Music Manuscripts Online
                                </a>
                            </li>
                            <li class="list-group-item p-0">
                                <a href="http://comparatio.irht.cnrs.fr" target="_blank">
                                    Comparatio
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3" id="login">
                        {% if not request.user.is_anonymous %}
                            <h5>Admin Navigation</h5>
                            <ul class="list-group list-group-flush">
                                {% if request.user|has_group:"contributor" or request.user|has_group:"editor" or request.user|has_group:"project manager" %}
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'my-sources' %}">My Sources</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'source-create' %}">Add Source</a>
                                    </li>
                                {% endif %}
                                {% if request.user|has_group:"project manager" %}
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'admin:articles_article_add' %}">Add News</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'admin:main_app_feast_add' %}">Add Feast</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'indexer-list' %}">List of Indexers</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'admin:users_user_changelist' %}">Administer Users</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'admin:index' %}">Taxonomy Manager</a>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <a href="{% url 'content-overview' %}">Content Overview</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <h5>User Profile</h5>
                            <a href="{% url 'user-detail' request.user.id %}">{{ request.user }}</a>
                            |
                            <a href="{% url 'change-password' %}">Change Password</a>
                            |
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <h5>Login for Contributors</h5>
                            <a href="{% url 'login' %}?next={{ request.path }}">
                                <button type="button" class="btn btn-dark">Login</button>
                            </a>                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="background-color: #CC3333;">
            <a href="https://www.facebook.com/CantusDatabase">
                <img src="{% static "facebookIcon.png" %}" alt="Facebook link" loading="lazy">
            </a>
            <a href="mailto:cantus@cantusindex.org">
                <img src="{% static "sendMailIcon.png" %}" alt="Send us email" loading="lazy">
            </a>
            <small style="float: right">Cantus Database © 2012-2022</small>
        </div>
    </footer>
</body>

</html>
