<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="robots" content="noindex">
    <meta name="google-site-verification" content="EwxpNpZ_ZOQnetVVLELGn5-aD_beT3EQqUuI6glkArI" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static "favicon.ico" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- font-awesome CSS for icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        window.onload = function() {
            let logButton = document.getElementById("log-in-out");
            var base_url = window.location.origin;
            function handleLogButtonClick() {
                if (logButton.value === "Log In") {
                    location.replace(`${base_url}/login/`);
                } 
                //else if (logButton.value === "Log Out") {
                //    location.replace(`${base_url}/logout/`);
                //}
            }
            logButton.addEventListener("click", handleLogButtonClick);
        }
    </script>

    <style>
        html {
            position: relative;
            min-height: 90%;
        }

        body {
            margin-bottom: 30px;
            /* Margin bottom by footer height */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            /* Set the fixed height of the footer here */
            line-height: 30px;
            /* Vertically center the text there */
        }

        .bg-footer {
            background-color: #CC3333;
        }

        .dropdown .dropdown-menu {
            opacity: 0.85 !important;
        }

        /* Change dropdown selected background to blue */
        .dropdown .dropdown-menu .dropdown-item:active,
        .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #f6f6f6 !important;
            color: #CC3333;
        }

        hr.color {
            border-top: 1px solid lightblue !important;
        }

        body {
            background-image: url('{% static "background.png" %}');
        }

        .nav-link {
            color: black;
        }

        .nav-item .nav-link .small {
            color: #5e5e5f;
        }

        .border-top {
            border-style: solid none none;
            border-width: 5px !important;
            border-color: #CC3333 !important;
        }

        a {
            color: #922;
        }

        a:hover {
            color: #CC3333;
            text-decoration: none;
        }

        /* this class is used for displaying results under the global search bar */
        .list-group-item-action:hover {
            color: black;
            transition: background-color .25s;
            background-color: #CC3333;
        }
    </style>
    <link href="{% static 'fonts/volpiano.css' %}" rel="stylesheet" media="screen">
</head>

<body>
    <header>
        <!-- Navbar -->
        <div class="container">
            <nav class="navbar navbar-expand-xl bg-white border-top col-12">
                <a class="navbar-brand" href="/">
                    <img src="{% static "CantusLogoSmall.gif" %}"
                        alt="Cantus Database: A Database for Latin Ecclesiastical Chant" loading="lazy">
                </a>

                <!-- Hamburger button to show nav when screen is smaller-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-links">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/">HOME<br style:"line-height: 50pt;"/><span
                                    class="small">Home
                                    Page</span></a>
                        </li>
                        <li class="nav-item dropdown text-info">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT<br><span class="small">Information</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#" style:"background-color:transparent">News</a>
                                <a class="dropdown-item" href="{% url 'indexer-list' %}">Contributors</a>
                                <a class="dropdown-item" href="/about/id-numbers/">ID Numbers: A History and
                                    Explanation</a>
                                <a class="dropdown-item" href="/about/acknowledgements/">Acknowledgements</a>
                                <a class="dropdown-item" href="/about/faq/">FAQ</a>
                                <a class="dropdown-item" href="https://www.youtube.com/watch?v=iMmGrUxhPj4">Short Video
                                    Introduction(YouTube)</a>
                                <a class="dropdown-item" href="{% url 'items-count' %}">Items Count</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SOURCES<br><span class="small">List of inventories</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'source-list' %}?segment=4063">Cantus Sources</a>
                                <a class="dropdown-item" href="{% url 'source-list' %}?segment=4064">Clavis Sequentiarium (Sequence Database by Calvin
                                    Bower)</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CHANTS<br><span class="small">Search</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'chant-search' %}">Chant Search</a>
                                <a class="dropdown-item" href="{% url 'melody-search' %}">Search by melody</a>
                                <a class="dropdown-item" href="{% url 'sequence-list' %}">Clavis Sequentiarium (Sequence Database by Calvin
                                    Bower)</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="/feasts"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                FEASTS<br><span class="small">List of feasts</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'feast-list' %}">List of all feasts</a>
                                <a class="dropdown-item" href="{% url "feast-list" %}?date=sanc">Sanctorale</a>
                                <a class="dropdown-item" href="{% url "feast-list" %}?date=temp">Temporale</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="/genres"
                                id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                TERMS<br><span class="small">Genres & fields</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'genre-list' %}">Genre abbreviations</a>
                                <a class="dropdown-item" href="{% url 'office-list' %}">Office/Mass abbreviations</a>
                                <a class="dropdown-item" href="/field-descriptions/">Fields</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                RESOURCES<br><span class="small">Docs, Instructions, Tools</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/tutorial/">Tutorial for Cantus Contributors</a>
                                <a class="dropdown-item" href="/documents/">PDF Documents for Cantus Contributors</a>
                                <a class="dropdown-item" href="/citations/">Citation Style</a>
                                <a class="dropdown-item" href="/references/">References</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- <hr class="color"> -->
    </header>

    <!-- Content goes here, using the extends tag from Django -->
    <main role="main" class="content container pt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer in every page -->
    <footer class="footer">
        <hr>
        <div class="p-3 bg-white small">
            <div class="container">
                <div class="row">
                    <div class="col-md" id="team-info">
                        <h5>Cantus Team</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0"><strong><a href="mailto:dlacoste@uwaterloo.ca">Debra Lacoste</a>
                                </strong>&nbsp; |&nbsp;
                                Project Manager</li>
                            <li class="list-group-item p-0"><strong><a href="http://kolacek.org">Jan Koláček</a>
                                </strong>&nbsp;
                                |&nbsp; Project
                                Developer</li>
                            <li class="list-group-item p-0"><strong><a
                                        href="http://www.dal.ca/faculty/arts/school-of-performing-arts/faculty-staff/our-faculty/musicology/jennifer-bain.html">Jennifer
                                        Bain </a> &nbsp;</strong> |&nbsp; Principal Investigator</li>
                            <li class="list-group-item p-0"><strong><a
                                        href="https://uwaterloo.ca/stratford-campus/people-profiles/christine-mcwebb">Christine
                                        McWebb </a> &nbsp;</strong> |&nbsp; Co-Investigator</li>
                            <li class="list-group-item p-0"><a href="/indexers">&nbsp;&nbsp; ⇨ List of contributors</a></li>
                        </ul>
                    </div>
                    <div class="col-md" id="facebook">
                        <h5>Facebook</h5>
                        <iframe class="w-100"
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCantusDatabase&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&appId=390784934606260"
                            style="border:none;" scrolling="yes" frameborder="0" allowTransparency="true">
                        </iframe>
                    </div>
                    <!-- TODO: Change this so it's dynamic and reflect who is actually online -->
                    <div class="col-md" id="online-users">
                        <h5>Who's Online</h5>
                        <p>There are currently 3 users online</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0"><a href="/">User</a></li>
                            <li class="list-group-item p-0"><a href="/">User</a></li>
                            <li class="list-group-item p-0"><a href="/">User</a></li>
                        </ul>
                    </div>
                    <div class="col-md" id="license">
                        <h5>Creative Commons License</h5>
                        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                            <img src="{% static "cc-logo.png" %}" alt="Creative Commons Logo" loading="lazy">
                        </a>
                        <p>
                            This work is licensed under a <a
                                href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
                                Attribution-NonCommercial-ShareAlike 4.0 International License.</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md" id="logos">
                        <img class="img-fluid w-75" src="{% static "logoUW.png" %}" alt="University of Waterloo Logo"
                            loading="lazy">
                        <img class="img-fluid w-100" src="{% static "logoSSHRC.jpg" %}" alt="SSHRC Logo" loading="lazy">
                    </div>
                    <div class="col-md" id="contact-form">
                        <h5>Contact</h5>
                        <a href="{% url 'contact' %}">
                            <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                                <path
                                    d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z" />
                            </svg>
                            Contact Form
                        </a>
                    </div>
                    <div class="col-md" id="database-links">
                        <h5>Database Links</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-0"><a href="http://cantusindex.org/" target="_blank">Cantus Index
                                    (all
                                    chants
                                    catalogue)</a></li>
                            <li class="list-group-item p-0"><a href="http://pemdatabase.eu/" target="_blank">Portuguese
                                    Early
                                    Music
                                    Database</a></li>
                            <li class="list-group-item p-0"><a href="http://cantus.sk" target="_blank">Slovakian Early Music
                                    Database</a></li>
                            <li class="list-group-item p-0"><a href="http://hunchant.eu" target="_blank">Hungarian Chant
                                    Database</a></li>
                            <li class="list-group-item p-0"><a href="http://cantusbohemiae.cz" target="_blank">Fontes Cantus
                                    Bohemiae</a></li>
                            <li class="list-group-item p-0"><a href="http://cantus.edu.pl" target="_blank">Cantus Planus in
                                    Polonia</a></li>
                            <li class="list-group-item p-0"><a href="http://musicahispanica.eu" target="_blank">Spanish
                                    Early
                                    Music
                                    Manuscript Database</a></li>
                            <li class="list-group-item p-0"><a href="http://musmed.eu" target="_blank">Medieval Music
                                    Manuscripts
                                    Online</a></li>
                            <li class="list-group-item p-0"><a href="http://comparatio.irht.cnrs.fr"
                                    target="_blank">Comparatio</a></li>
                        </ul>
                    </div>
                    <div class="col-md" id="login">
                        {% if not request.user.is_anonymous %}
                            <h5>Contributor Navigation</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-0">
                                    <a href="{% url 'my-sources' %}">My sources</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="{% url 'source-create' %}">Add source</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="{% url 'indexer-list' %}">List of indexers</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Import feasts from Cantus Index</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Update feasts from Cantus Index</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Publish unpublished chants</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Generate CSV - all published sources</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Source index</a>
                                </li>
                                <li class="list-group-item p-0">
                                    <a href="">Update differentiae</a>
                                </li>
                            </ul>
                            <br>
                            <h5>User Profile</h5>
                            <a href="{% url 'user-detail' request.user.id %}">{{ request.user }}</a>
                            |
                            <a href="{% url 'logout' %}">Log out</a>
                        {% else %}
                            <h5>Login for Contributors</h5>
                            <button type="button" value="Log In" id="log-in-out" class="btn btn-dark">Log in</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="background-color: #CC3333;">
            <a href="https://www.facebook.com/CantusDatabase">
                <img src="{% static "facebookIcon.png" %}" alt="Facebook link" loading="lazy">
            </a>
            <a href="mailto:cantus@cantusindex.org">
                <img src="{% static "sendMailIcon.png" %}" alt="Send us email" loading="lazy">
            </a>
            <small style="float: right">Cantus Database © 2012-2022</small>
        </div>
    </footer>
</body>

</html>
